In [187]:
import datetime
import gc
import lightgbm as lgb
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns
import time
import warnings
import sklearn

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from IPython.display import display
pd.options.display.max_columns = None


from contextlib import contextmanager
from pandas.core.common import SettingWithCopyWarning
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold, StratifiedKFold

warnings.simplefilter(action='ignore', category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

FEATS_EXCLUDED = ['first_active_month', 'target', 'card_id', 'outliers',
                  'hist_purchase_date_max', 'hist_purchase_date_min', 'hist_card_id_size',
                  'new_purchase_date_max', 'new_purchase_date_min', 'new_card_id_size',
                  'OOF_PRED', 'month_0']

In [70]:
num_rows = None
train_df = pd.read_csv('/Users/jincui/Downloads/ELO/train.csv', index_col=['card_id'], nrows=num_rows)
test_df = pd.read_csv('/Users/jincui/Downloads/ELO/test.csv', index_col=['card_id'], nrows=num_rows)

print("Train samples: {}, test samples: {}".format(len(train_df), len(test_df)))

# outlier
train_df['outliers'] = 0
train_df.loc[train_df['target'] < -30, 'outliers'] = 1

# set target as nan
test_df['target'] = np.nan

# merge
df = train_df.append(test_df)
df

Train samples: 201917, test samples: 123623

,feature_1,feature_2,feature_3,first_active_month,outliers,target
card_id,,,,,,
C_ID_92a2005557,5,2,1,2017-06,0.0,-0.820283
C_ID_3d0044924f,4,1,0,2017-01,0.0,0.392913
C_ID_d639edf6cd,2,2,0,2016-08,0.0,0.688056
C_ID_186d6a6901,4,3,0,2017-09,0.0,0.142495
C_ID_cdbd2c0db2,1,3,0,2017-11,0.0,-0.159749
C_ID_0894217f2f,4,2,0,2016-09,0.0,0.871585
C_ID_7e63323c00,3,2,1,2016-12,0.0,0.230129
C_ID_dfa21fc124,3,2,1,2017-09,0.0,2.135850
C_ID_fe0fdac8ea,2,1,0,2017-08,0.0,-0.065406
C_ID_bf62c0b49d,2,2,0,2016-08,0.0,0.300062
C_ID_92853cdb2c,5,2,1,2016-10,0.0,-1.029562
C_ID_269d816788,2,2,0,2016-03,0.0,-2.433761
C_ID_61d50d7057,5,2,1,2017-09,0.0,1.304452
C_ID_4e07413433,2,1,0,2017-04,0.0,0.093633
C_ID_b6302b31c6,3,2,1,2017-08,0.0,1.597750
C_ID_3b69154173,2,1,0,2017-02,0.0,1.010937
C_ID_9feec11e78,2,2,0,2016-07,0.0,1.132236
C_ID_f6658dbefe,4,2,0,2016-12,0.0,0.318062
C_ID_4a7dda0f9e,2,1,0,2017-11,0.0,0.757280
C_ID_6adae2a906,4,1,0,2017-01,0.0,0.334337
C_ID_0b70ca7347,5,2,1,2017-09,0.0,1.442726
C_ID_25b2509282,1,2,0,2016-06,0.0,4.747602
C_ID_82fb11db22,2,2,0,2017-09,0.0,0.464404
C_ID_e03db05bde,2,2,0,2017-10,0.0,-0.529658
C_ID_dcb7c76747,5,1,1,2015-10,0.0,-0.084951
C_ID_749cfc0c3a,2,2,0,2016-04,0.0,1.525862
C_ID_4a97126360,2,3,0,2017-07,0.0,-0.090744
C_ID_17dea8d446,3,3,1,2017-09,0.0,-1.361720
C_ID_fcef0dfd67,5,1,1,2016-01,0.0,0.727093
C_ID_82868156f0,5,2,1,2016-06,0.0,1.143863
...,...,...,...,...,...,...
C_ID_cd42a5db89,2,2,0,2016-07,NaN,NaN
C_ID_715b9a183d,3,2,1,2017-08,NaN,NaN
C_ID_9b25df3309,2,2,0,2017-11,NaN,NaN
C_ID_043b3c2ccd,3,2,1,2017-02,NaN,NaN
C_ID_7685eae7b2,3,2,1,2017-01,NaN,NaN
C_ID_7ee1a21a95,4,1,0,2017-11,NaN,NaN
C_ID_2bf12fed6b,2,3,0,2017-09,NaN,NaN
C_ID_2932a6ea37,1,3,0,2016-12,NaN,NaN
C_ID_cc33d0d508,2,1,0,2017-09,NaN,NaN
C_ID_8852708dcb,4,3,0,2017-01,NaN,NaN
C_ID_c3e88ef62d,1,1,0,2017-11,NaN,NaN
C_ID_650557248c,2,1,0,2017-10,NaN,NaN
C_ID_f14af9cb56,1,1,0,2017-05,NaN,NaN
C_ID_068dcf31e8,5,1,1,2017-07,NaN,NaN
C_ID_6659f4625a,3,2,1,2017-12,NaN,NaN
C_ID_dc842bba27,3,2,1,2016-12,NaN,NaN
C_ID_bd625edce0,3,3,1,2016-12,NaN,NaN
C_ID_278446cc2f,3,3,1,2017-05,NaN,NaN
C_ID_ad358eb92e,5,2,1,2016-08,NaN,NaN
C_ID_7d9bcec574,3,2,1,2016-04,NaN,NaN
C_ID_b588b35e15,3,3,1,2015-11,NaN,NaN
C_ID_7147e348c3,5,2,1,2017-01,NaN,NaN
C_ID_727d3ec5da,5,1,1,2014-12,NaN,NaN
C_ID_107d93e20c,4,1,0,2017-05,NaN,NaN
C_ID_0e74bd4966,3,2,1,2016-10,NaN,NaN
C_ID_7a239d2eda,2,2,0,2017-10,NaN,NaN
C_ID_75ace375ae,3,1,1,2017-09,NaN,NaN
C_ID_21d56d950c,5,1,1,2016-09,NaN,NaN
C_ID_6c46fc5a9d,2,1,0,2017-06,NaN,NaN
C_ID_87e7979a5f,5,1,1,2016-10,NaN,NaN

In [71]:
df = df.rename(columns={"first_active_month": "first_active_time"})

df['first_active_time'] = pd.to_datetime(df['first_active_time'])

In [72]:
# there is one where card_id == C_ID_c27b4f80f7, fist_active_month infomration is missing

df['first_active_year'] = df['first_active_time'].dt.year
df['first_active_month'] = df['first_active_time'].dt.month
df

,feature_1,feature_2,feature_3,first_active_time,outliers,target,first_active_year,first_active_month
card_id,,,,,,,,
C_ID_92a2005557,5,2,1,2017-06-01,0.0,-0.820283,2017.0,6.0
C_ID_3d0044924f,4,1,0,2017-01-01,0.0,0.392913,2017.0,1.0
C_ID_d639edf6cd,2,2,0,2016-08-01,0.0,0.688056,2016.0,8.0
C_ID_186d6a6901,4,3,0,2017-09-01,0.0,0.142495,2017.0,9.0
C_ID_cdbd2c0db2,1,3,0,2017-11-01,0.0,-0.159749,2017.0,11.0
C_ID_0894217f2f,4,2,0,2016-09-01,0.0,0.871585,2016.0,9.0
C_ID_7e63323c00,3,2,1,2016-12-01,0.0,0.230129,2016.0,12.0
C_ID_dfa21fc124,3,2,1,2017-09-01,0.0,2.135850,2017.0,9.0
C_ID_fe0fdac8ea,2,1,0,2017-08-01,0.0,-0.065406,2017.0,8.0
C_ID_bf62c0b49d,2,2,0,2016-08-01,0.0,0.300062,2016.0,8.0
C_ID_92853cdb2c,5,2,1,2016-10-01,0.0,-1.029562,2016.0,10.0
C_ID_269d816788,2,2,0,2016-03-01,0.0,-2.433761,2016.0,3.0
C_ID_61d50d7057,5,2,1,2017-09-01,0.0,1.304452,2017.0,9.0
C_ID_4e07413433,2,1,0,2017-04-01,0.0,0.093633,2017.0,4.0
C_ID_b6302b31c6,3,2,1,2017-08-01,0.0,1.597750,2017.0,8.0
C_ID_3b69154173,2,1,0,2017-02-01,0.0,1.010937,2017.0,2.0
C_ID_9feec11e78,2,2,0,2016-07-01,0.0,1.132236,2016.0,7.0
C_ID_f6658dbefe,4,2,0,2016-12-01,0.0,0.318062,2016.0,12.0
C_ID_4a7dda0f9e,2,1,0,2017-11-01,0.0,0.757280,2017.0,11.0
C_ID_6adae2a906,4,1,0,2017-01-01,0.0,0.334337,2017.0,1.0
C_ID_0b70ca7347,5,2,1,2017-09-01,0.0,1.442726,2017.0,9.0
C_ID_25b2509282,1,2,0,2016-06-01,0.0,4.747602,2016.0,6.0
C_ID_82fb11db22,2,2,0,2017-09-01,0.0,0.464404,2017.0,9.0
C_ID_e03db05bde,2,2,0,2017-10-01,0.0,-0.529658,2017.0,10.0
C_ID_dcb7c76747,5,1,1,2015-10-01,0.0,-0.084951,2015.0,10.0
C_ID_749cfc0c3a,2,2,0,2016-04-01,0.0,1.525862,2016.0,4.0
C_ID_4a97126360,2,3,0,2017-07-01,0.0,-0.090744,2017.0,7.0
C_ID_17dea8d446,3,3,1,2017-09-01,0.0,-1.361720,2017.0,9.0
C_ID_fcef0dfd67,5,1,1,2016-01-01,0.0,0.727093,2016.0,1.0
C_ID_82868156f0,5,2,1,2016-06-01,0.0,1.143863,2016.0,6.0
...,...,...,...,...,...,...,...,...
C_ID_cd42a5db89,2,2,0,2016-07-01,NaN,NaN,2016.0,7.0
C_ID_715b9a183d,3,2,1,2017-08-01,NaN,NaN,2017.0,8.0
C_ID_9b25df3309,2,2,0,2017-11-01,NaN,NaN,2017.0,11.0
C_ID_043b3c2ccd,3,2,1,2017-02-01,NaN,NaN,2017.0,2.0
C_ID_7685eae7b2,3,2,1,2017-01-01,NaN,NaN,2017.0,1.0
C_ID_7ee1a21a95,4,1,0,2017-11-01,NaN,NaN,2017.0,11.0
C_ID_2bf12fed6b,2,3,0,2017-09-01,NaN,NaN,2017.0,9.0
C_ID_2932a6ea37,1,3,0,2016-12-01,NaN,NaN,2016.0,12.0
C_ID_cc33d0d508,2,1,0,2017-09-01,NaN,NaN,2017.0,9.0
C_ID_8852708dcb,4,3,0,2017-01-01,NaN,NaN,2017.0,1.0
C_ID_c3e88ef62d,1,1,0,2017-11-01,NaN,NaN,2017.0,11.0
C_ID_650557248c,2,1,0,2017-10-01,NaN,NaN,2017.0,10.0
C_ID_f14af9cb56,1,1,0,2017-05-01,NaN,NaN,2017.0,5.0
C_ID_068dcf31e8,5,1,1,2017-07-01,NaN,NaN,2017.0,7.0
C_ID_6659f4625a,3,2,1,2017-12-01,NaN,NaN,2017.0,12.0
C_ID_dc842bba27,3,2,1,2016-12-01,NaN,NaN,2016.0,12.0
C_ID_bd625edce0,3,3,1,2016-12-01,NaN,NaN,2016.0,12.0
C_ID_278446cc2f,3,3,1,2017-05-01,NaN,NaN,2017.0,5.0
C_ID_ad358eb92e,5,2,1,2016-08-01,NaN,NaN,2016.0,8.0
C_ID_7d9bcec574,3,2,1,2016-04-01,NaN,NaN,2016.0,4.0
C_ID_b588b35e15,3,3,1,2015-11-01,NaN,NaN,2015.0,11.0
C_ID_7147e348c3,5,2,1,2017-01-01,NaN,NaN,2017.0,1.0
C_ID_727d3ec5da,5,1,1,2014-12-01,NaN,NaN,2014.0,12.0
C_ID_107d93e20c,4,1,0,2017-05-01,NaN,NaN,2017.0,5.0
C_ID_0e74bd4966,3,2,1,2016-10-01,NaN,NaN,2016.0,10.0
C_ID_7a239d2eda,2,2,0,2017-10-01,NaN,NaN,2017.0,10.0
C_ID_75ace375ae,3,1,1,2017-09-01,NaN,NaN,2017.0,9.0
C_ID_21d56d950c,5,1,1,2016-09-01,NaN,NaN,2016.0,9.0
C_ID_6c46fc5a9d,2,1,0,2017-06-01,NaN,NaN,2017.0,6.0
C_ID_87e7979a5f,5,1,1,2016-10-01,NaN,NaN,2016.0,10.0

In [ ]:
## features are type of card, e.g.
## they have certai range of first_active_time

In [74]:
df.groupby('feature_1').min()

,feature_2,feature_3,first_active_time,outliers,target,first_active_year,first_active_month
feature_1,,,,,,,
1,1,0,2015-01-01,0.0,-33.219281,2015.0,1.0
2,1,0,2014-11-01,0.0,-33.219281,2014.0,1.0
3,1,1,2011-11-01,0.0,-33.219281,2011.0,1.0
4,1,0,2015-01-01,0.0,-33.219281,2015.0,1.0
5,1,1,2013-11-01,0.0,-33.219281,2013.0,1.0

In [76]:
df.groupby('feature_1').max()

,feature_2,feature_3,first_active_time,outliers,target,first_active_year,first_active_month
feature_1,,,,,,,
1,3,0,2018-02-01,1.0,15.011358,2018.0,12.0
2,3,0,2018-01-01,1.0,13.592223,2018.0,12.0
3,3,1,2018-01-01,1.0,15.606405,2018.0,12.0
4,3,0,2018-01-01,1.0,9.665204,2018.0,12.0
5,2,1,2018-01-01,1.0,17.965068,2018.0,12.0

In [49]:
df.groupby('feature_2').min()

,feature_1,feature_3,first_active_month,outliers,target,first_active_year
feature_2,,,,,,
1,1,0,1.0,0.0,-33.219281,2011.0
2,1,0,1.0,0.0,-33.219281,2013.0
3,1,0,1.0,0.0,-33.219281,2011.0

In [77]:
df.groupby('feature_2').max()

,feature_1,feature_3,first_active_time,outliers,target,first_active_year,first_active_month
feature_2,,,,,,,
1,5,1,2018-01-01,1.0,17.965068,2018.0,12.0
2,5,1,2018-02-01,1.0,15.606405,2018.0,12.0
3,4,1,2018-01-01,1.0,13.350895,2018.0,12.0

In [75]:
df.groupby('feature_3').min()

,feature_1,feature_2,first_active_time,outliers,target,first_active_year,first_active_month
feature_3,,,,,,,
0,1,1,2014-11-01,0.0,-33.219281,2014.0,1.0
1,3,1,2011-11-01,0.0,-33.219281,2011.0,1.0

In [ ]:
## if feature_1 == 3 or 5: feature_3 == 1
## else feature_3 == 0!
##
### feature_1 == 4 card won't have a very high target

In [79]:
df.groupby(['feature_1', 'feature_2']).min()

                     feature_3 first_active_time  outliers     target  \
feature_1 feature_2
1         1                  0        2016-06-01       0.0 -33.219281
          2                  0        2015-01-01       0.0 -33.219281
          3                  0        2016-04-01       0.0 -33.219281
2         1                  0        2014-11-01       0.0 -33.219281
          2                  0        2015-01-01       0.0 -33.219281
          3                  0        2016-04-01       0.0 -33.219281
3         1                  1        2011-11-01       0.0 -33.219281
          2                  1        2013-04-01       0.0 -33.219281
          3                  1        2011-11-01       0.0 -33.219281
4         1                  0        2016-06-01       0.0 -33.219281
          2                  0        2015-01-01       0.0 -33.219281
          3                  0        2016-04-01       0.0 -33.219281
5         1                  1        2013-11-01       0.0 -33.219281
          2                  1        2016-05-01       0.0 -33.219281

                     first_active_year  first_active_month
feature_1 feature_2
1         1                     2016.0                 1.0
          2                     2015.0                 1.0
          3                     2016.0                 1.0
2         1                     2014.0                 1.0
          2                     2015.0                 1.0
          3                     2016.0                 1.0
3         1                     2011.0                 1.0
          2                     2013.0                 1.0
          3                     2011.0                 1.0
4         1                     2016.0                 1.0
          2                     2015.0                 1.0
          3                     2016.0                 1.0
5         1                     2013.0                 1.0
          2                     2016.0                 1.0

In [80]:
df.groupby(['feature_1', 'feature_2']).max()

                     feature_3 first_active_time  outliers     target  \
feature_1 feature_2
1         1                  0        2018-01-01       1.0  15.011358
          2                  0        2018-02-01       1.0  11.553597
          3                  0        2017-12-01       1.0  10.139105
2         1                  0        2018-01-01       1.0  13.592223
          2                  0        2018-01-01       1.0  10.474853
          3                  0        2018-01-01       1.0  13.350895
3         1                  1        2018-01-01       1.0  12.446308
          2                  1        2018-01-01       1.0  15.606405
          3                  1        2018-01-01       1.0  11.291580
4         1                  0        2018-01-01       1.0   9.665204
          2                  0        2018-01-01       1.0   9.365076
          3                  0        2018-01-01       1.0   8.867564
5         1                  1        2018-01-01       1.0  17.965068
          2                  1        2018-01-01       1.0  15.294621

                     first_active_year  first_active_month
feature_1 feature_2
1         1                     2018.0                12.0
          2                     2018.0                12.0
          3                     2017.0                12.0
2         1                     2018.0                12.0
          2                     2018.0                12.0
          3                     2018.0                12.0
3         1                     2018.0                12.0
          2                     2018.0                12.0
          3                     2018.0                12.0
4         1                     2018.0                12.0
          2                     2018.0                12.0
          3                     2018.0                12.0
5         1                     2018.0                12.0
          2                     2018.0                12.0

In [90]:
df.groupby(['feature_2', 'feature_1']).min()

                     feature_3 first_active_time  outliers     target  \
feature_2 feature_1
1         1                  0        2016-06-01       0.0 -33.219281
          2                  0        2014-11-01       0.0 -33.219281
          3                  1        2011-11-01       0.0 -33.219281
          4                  0        2016-06-01       0.0 -33.219281
          5                  1        2013-11-01       0.0 -33.219281
2         1                  0        2015-01-01       0.0 -33.219281
          2                  0        2015-01-01       0.0 -33.219281
          3                  1        2013-04-01       0.0 -33.219281
          4                  0        2015-01-01       0.0 -33.219281
          5                  1        2016-05-01       0.0 -33.219281
3         1                  0        2016-04-01       0.0 -33.219281
          2                  0        2016-04-01       0.0 -33.219281
          3                  1        2011-11-01       0.0 -33.219281
          4                  0        2016-04-01       0.0 -33.219281

                     first_active_year  first_active_month
feature_2 feature_1
1         1                     2016.0                 1.0
          2                     2014.0                 1.0
          3                     2011.0                 1.0
          4                     2016.0                 1.0
          5                     2013.0                 1.0
2         1                     2015.0                 1.0
          2                     2015.0                 1.0
          3                     2013.0                 1.0
          4                     2015.0                 1.0
          5                     2016.0                 1.0
3         1                     2016.0                 1.0
          2                     2016.0                 1.0
          3                     2011.0                 1.0
          4                     2016.0                 1.0

In [89]:
df.groupby(['feature_2', 'feature_1']).max()

                     feature_3 first_active_time  outliers     target  \
feature_2 feature_1
1         1                  0        2018-01-01       1.0  15.011358
          2                  0        2018-01-01       1.0  13.592223
          3                  1        2018-01-01       1.0  12.446308
          4                  0        2018-01-01       1.0   9.665204
          5                  1        2018-01-01       1.0  17.965068
2         1                  0        2018-02-01       1.0  11.553597
          2                  0        2018-01-01       1.0  10.474853
          3                  1        2018-01-01       1.0  15.606405
          4                  0        2018-01-01       1.0   9.365076
          5                  1        2018-01-01       1.0  15.294621
3         1                  0        2017-12-01       1.0  10.139105
          2                  0        2018-01-01       1.0  13.350895
          3                  1        2018-01-01       1.0  11.291580
          4                  0        2018-01-01       1.0   8.867564

                     first_active_year  first_active_month
feature_2 feature_1
1         1                     2018.0                12.0
          2                     2018.0                12.0
          3                     2018.0                12.0
          4                     2018.0                12.0
          5                     2018.0                12.0
2         1                     2018.0                12.0
          2                     2018.0                12.0
          3                     2018.0                12.0
          4                     2018.0                12.0
          5                     2018.0                12.0
3         1                     2017.0                12.0
          2                     2018.0                12.0
          3                     2018.0                12.0
          4                     2018.0                12.0

In [241]:
merchants = pd.read_csv('/Users/jincui/Downloads/ELO/merchants.csv', nrows=num_rows)
#merchants

In [102]:
merchants.groupby('category_4').min()

,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,city_id,state_id,category_2
category_4,,,,,,,,,,,,,,,,,,,,
N,1,-1,-1,-0.057471,-0.057471,N,A,A,-82.13,0.333495,1,-82.13,0.167045,1,-82.13,0.098330,1,-1,-1,1.0
Y,4,2,1,-0.057471,-0.057471,N,A,A,0.33,0.336570,1,0.16,0.174775,1,0.09,0.102951,1,-1,-1,1.0

In [101]:
merchants.groupby('category_4').max()

,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,city_id,state_id,category_2
category_4,,,,,,,,,,,,,,,,,,,,
N,112585,891,41,183.735111,182.079322,N,E,E,624741.00,inf,3,1513959.00,inf,6,2567408.00,inf,12,347,24,5.0
Y,112586,891,41,172.719653,170.736672,Y,E,E,851844.64,inf,3,770443.34,inf,6,689561.85,inf,12,320,24,5.0

# merchant: if category_4 == N then category_1 == N

## when concating merchant with hist and new, the following are not necessary: 
# 'merchant_category_id', 'category_2', 'category_1', 'category_4', 'city_id', 'state_id', 'subsector_id'

In [185]:
hist_df = pd.read_csv('/Users/jincui/Downloads/ELO/historical_transactions.csv', nrows=num_rows)
new_merchant_df = pd.read_csv('/Users/jincui/Downloads/ELO/new_merchant_transactions.csv', nrows=num_rows)

In [110]:
merchants[['merchant_id','merchant_group_id', 'merchant_category_id',
           'subsector_id', 'category_4', 'city_id', 'state_id', 
           'category_2', 'category_1']][merchants['merchant_id']=='M_ID_e020e9b302']

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,category_4,city_id,state_id,category_2,category_1
334495,M_ID_e020e9b302,35,80,37,Y,88,16,1.0,N

In [111]:
hist_df.shape

(29112361, 14)

In [240]:
MERCHANT_FEATURES_EXCLUDE = ['merchant_category_id', 'category_2', 'category_1', 'category_4', 'city_id', 'state_id', 'subsector_id']

merchants_simp = merchants.drop(MERCHANT_FEATURES_EXCLUDE, axis=1)
#merchants_simp

In [242]:
merchants['numerical_ratio'] = merchants['numerical_1']/merchants['numerical_2']
#merchants_simp

In [243]:
dummies_columns = ['most_recent_sales_range','most_recent_purchases_range', 'active_months_lag3', 'active_months_lag6', 'active_months_lag12', 'category_1', 'category_2', 'category_4']


merchants = pd.get_dummies(merchants,
                            columns = dummies_columns,
                            prefix = dummies_columns,
                            dummy_na=True)
merchants

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,city_id,state_id,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_sales_range_nan,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,most_recent_purchases_range_nan,active_months_lag3_1.0,active_months_lag3_2.0,active_months_lag3_3.0,active_months_lag3_nan,active_months_lag6_1.0,active_months_lag6_2.0,active_months_lag6_3.0,active_months_lag6_4.0,active_months_lag6_5.0,active_months_lag6_6.0,active_months_lag6_nan,active_months_lag12_1.0,active_months_lag12_2.0,active_months_lag12_3.0,active_months_lag12_4.0,active_months_lag12_5.0,active_months_lag12_6.0,active_months_lag12_7.0,active_months_lag12_8.0,active_months_lag12_9.0,active_months_lag12_10.0,active_months_lag12_11.0,active_months_lag12_12.0,active_months_lag12_nan,category_1_N,category_1_Y,category_1_nan,category_2_1.0,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_nan,category_4_N,category_4_Y,category_4_nan
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,-0.40,9.666667,-2.25,18.666667,-2.32,13.916667,242,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,-0.72,1.750000,-0.74,1.291667,-0.57,1.687500,22,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,-82.13,260.000000,-82.13,260.000000,-82.13,260.000000,-1,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,NaN,1.666667,NaN,4.666667,NaN,3.833333,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,NaN,0.500000,NaN,0.361111,NaN,0.347222,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,NaN,1.000000,NaN,3.666667,NaN,3.833333,160,21,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,NaN,2.833333,NaN,4.833333,NaN,6.333333,60,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,NaN,1.000000,NaN,1.666667,NaN,1.500000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,NaN,115.000000,NaN,189.916667,NaN,197.000000,248,15,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,NaN,1.000000,NaN,1.000000,NaN,1.000000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,-1,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,88,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,NaN,1.000000,NaN,1.000000,NaN,1.000000,158,15,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,NaN,1.666667,NaN,1.666667,NaN,1.666667,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,NaN,1084.000000,NaN,3432.666667,NaN,5236.000000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
16,M_ID_c929bb59af,9514,2,20,-0.057471,-0.057471,69667.00,1.000000,69667.00,1.000000,69667.00,1.000000,-1,20,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
17,M_ID_dd3ae3de10,30534,278,37,-0.057471,-0.057471,5180.00,4.000000,9830.00,4.166667,15826.00,5.600000,11,23,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
18,M_ID_dc671140d0,21536,278,37,-0.057471,-0.057471,7133.00,4.666667,17566.00,4.500000,19594.00,6.000000,143,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
19,M_ID_7551d55443,16010,298,10,-0.057471,-0.057471,109733.00,18.666667,118433.00,19.000000,217857.00,35.416667,282,18,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0
20,M_ID_a8effe9197,577,497,27,-0.057471,-0.057471,3897.00,1.333333,2924.00,1.250000,2924.00,1.250000,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
21,M_ID_39643c7d93,22146,309,21,-0.057471,-0.057471,608433.00,5.666667,776683.00,7.000000,749804.00,6.000000,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
22,M_ID_07930b58ae,11559,705,33,-0.057471,-0.057471,148515.00,76.666667,245840.00,134.833333,272061.00,151.454545,123,19,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0
23,M_ID_e16b20b50a,35,511,7,-0.057471,-0.057471,385833.00,148.666667,464184.00,183.666667,460206.00,184.333333,126,4,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
24,M_ID_0f0334c393,39020,437,15,-0.057471,-0.057471,205863.00,3.333333,1513959.00,33.666667,2567408.00,61.166667,272,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
25,M_ID_2be211b847,35,456,21,-0.057471,-0.057471,1.00,1.000000,1.00,1.000000,1.00,1.000000,85,8,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
26,M_ID_0fa16b39ed,35,781,7,-0.057471,-0.057471,44436.00,11.333333,93735.00,17.500000,93735.00,17.500000,140,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
27,M_ID_69618a786a,4760,703,29,-0.057471,-0.057471,360107.00,20.666667,646764.00,37.333333,683700.00,39.818182,62,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0
28,M_ID_3c87a47f6b,38953,703,29,-0.057471,-0.057471,624741.00,212.333333,953792.00,329.166667,827191.00,283.833333,60,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
29,M_ID_c44ccc8110,4274,278,37,-0.057471,-0.057471,133863.00,66.000000,133859.00,67.500000,133859.00,67.500000,143,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334666,M_ID_82a30d9203,35,705,33,67.383709,66.957368,1.11,1.095744,1.19,1.140296,1.29,1.193303,69,9,1.006367,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334667,M_ID_076cd8a829,401,665,3,-0.057471,-0.057471,0.59,0.659296,0.52,0.531372,0.51,0.436002,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334668,M_ID_a0bec1c066,2897,840,20,0.953850,-0.057471,0.98,0.987463,0.99,1.009592,0.97,0.992651,-1,9,-16.597160,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
334669,M_ID_79692349d6,3097,491,3,-0.057471,-0.057471,0.95,0.828665,0.88,0.724008,0.77,0.619400,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334670,M_ID_96ba3c7b60,35,690,1,-0.057471,-0.057471,0.98,1.002399,0.89,0.935795,0.78,0.850326,-1,-1,1.000000,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334671,M_ID_77e2942cd8,35,705,33,80.164020,79.678190,1.04,1.049935,1.07,1.073962,1.09,1.088270,-1,16,1.006097,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
334672,M_ID_2637773dd2,35,683,34,105.585835,104.901707,1.08,1.090130,1.10,1.092221,1.13,1.117407,69,9,1.006522,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334673,M_ID_b5b80addf5,176,705,33,1.211637,-0.047556,0.99,0.998045,1.02,1.002170,1.45,1.047121,69,9,-25.478246,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334674,M_ID_c9a8f296ae,108130,561,7,-0.057471,-0.057471,0.73,0.979991,0.60,0.877106,0.50,0.677564,231,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
334675,M_ID_d855771cd9,35,278,37,129.322116,128.548754,1.15,1.150464,1.26,1.226926,1.30,1.270607,-1,9,1.006016,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
334676,M_ID_b1fc88154d,321,705,33,0.388700,-0.047556,1.00,1.066087,1.02,1.087142,0.95,1.095145,137,19,-8.173566,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0
334677,M_ID_ed8064314e,840,437,15,0.011934,-0.057471,1.00,1.005015,1.03,1.027947,1.07,1.062081,69,9,-0.207648,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334678,M_ID_98b342c0e3,35,80,37,183.735111,182.079322,1.15,1.150389,1.25,1.226935,1.29,1.261291,-1,9,1.009094,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
334679,M_ID_b98db225f5,35,705,33,107.648135,107.132560,1.11,1.107805,1.19,1.181937,1.26,1.233718,-1,9,1.004812,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
334680,M_ID_004995eae1,112528,705,33,0.130913,-0.057471,0.98,0.978401,1.03,0.998480,1.06,1.014429,158,15,-2.277902,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334681,M_ID_7159aca3bf,35,574,22,-0.057471,-0.057471,0.62,0.542203,0.33,0.278660,0.17,0.142010,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334682,M_ID_a62e20132d,112393,248,8,-0.057471,-0.057471,0.94,0.956257,0.86,0.908929,0.94,0.960127,69,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334683,M_ID_c1a7024db1,565,705,33,0.130913,-0.057471,1.00,1.014875,0.91,0.959783,0.97,0.986675,158,15,-2.277902,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334684,M_ID_981fe24744,771,690,1,1.231467,-0.057471,1.03,1.036908,1.05,1.080940,1.07,1.122159,69,9,-21.427753,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334685,M_ID_f86439cec0,35,278,37,117.830742,116.888826,1.08,1.092926,1.09,1.095924,1.13,1.125829,69,9,1.008058,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334686,M_ID_3111c6df35,107283,690,1,-0.057471,-0.057471,0.95,0.997999,0.90,0.967786,0.79,0.891154,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334687,M_ID_ca4d18b336,1145,437,15,0.170572,-0.057471,0.96,0.985340,0.95,0.986964,0.97,1.005476,69,9,-2.967987,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334688,M_ID_59764e8cb1,17285,309,21,0.329211,-0.057471,0.97,1.042942,1.00,1.107380,1.05,1.120891,-1,-1,-5.728326,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334689,M_ID_5ba019a379,35,80,37,172.719653,170.736672,1.07,1.089389,1.07,1.083591,1.11,1.110395,69,9,1.011614,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334690,M_ID_a9d91682ad,35,241,17,-0.057471,-0.057471,0.96,0.977410,0.85,0.919159,0.90,0.982781,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334691,M_ID_1f4773aa76,1145,705,33,3.174788,-0.047556,1.00,1.022618,0.99,1.019505,1.00,1.024796,69,9,-66.759291,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
334692,M_ID_725a60d404,35,544,29,-0.057471,-0.057471,0.89,0.927684,0.78,0.813473,0.59,0.606765,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334693,M_ID_f2045dd267,35,561,7,-0.057471,-0.057471,0.96,0.982957,0.90,0.924769,0.74,0.750763,160,21,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
334694,M_ID_9139332ccc,35,511,7,-0.057471,-0.057471,0.94,0.919558,0.82,0.783000,0.65,0.584000,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
334695,M_ID_cd2c0b07e9,35,606,17,-0.057471,-0.057471,0.90,0.913902,0.73,0.744417,0.53,0.540334,69,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0

In [245]:
# some merchant_id is duplicated
merchants.merchant_id.value_counts()

M_ID_c2b9ac2ea4    4
M_ID_dbbf07ebf0    4
M_ID_d123532c72    4
M_ID_ef233cff26    4
M_ID_6464db3b45    4
M_ID_992a180b15    4
M_ID_42697d5d44    4
M_ID_1802942aaf    4
M_ID_bd49e37dda    4
M_ID_30340088f2    4
M_ID_ebbdb42da6    4
M_ID_1ceca881f0    2
M_ID_28c2aace87    2
M_ID_0b8ed0c2b0    2
M_ID_00a6ca8a8a    2
M_ID_d2b5d4418d    2
M_ID_49daf8a838    2
M_ID_fea38c640b    2
M_ID_8951e22556    2
M_ID_7483dde87d    2
M_ID_32d73b8ecf    2
M_ID_0a00fa9e8a    2
M_ID_0039220eb3    2
M_ID_654509ddbc    2
M_ID_ae9fe1605a    2
M_ID_0c4018d3a0    2
M_ID_26d4fadb60    2
M_ID_57e97f6546    2
M_ID_b794b9d9e8    2
M_ID_645a6af169    2
                  ..
M_ID_1b3907a3d8    1
M_ID_f100cacd9f    1
M_ID_8607c65471    1
M_ID_02ef1090db    1
M_ID_bc8986ae48    1
M_ID_5d1d88fd09    1
M_ID_32ef1124e0    1
M_ID_eaceb9f3da    1
M_ID_e5b25d1000    1
M_ID_0d390d80c1    1
M_ID_bed3962027    1
M_ID_480c574653    1
M_ID_e7105e4a6d    1
M_ID_e28710256a    1
M_ID_6860fc2f6a    1
M_ID_cafec31641    1
M_ID_5486480e34    1
M_ID_3267fd01ff    1
M_ID_7df35447b1    1
M_ID_971225a0cc    1
M_ID_d0e8c6e182    1
M_ID_4396af1e02    1
M_ID_0f1af19c01    1
M_ID_e35d04ec53    1
M_ID_d3ca7e0d62    1
M_ID_0757747011    1
M_ID_e8a41acab1    1
M_ID_d6642c18d7    1
M_ID_9153ab893f    1
M_ID_7e9d08a59b    1
Name: merchant_id, Length: 334633, dtype: int64

In [217]:
merchants[merchants['merchant_id']=='M_ID_c2b9ac2ea4']

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,category_4,city_id,state_id,category_2,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,active_months_lag3_1,active_months_lag3_2,active_months_lag3_3,active_months_lag6_1,active_months_lag6_2,active_months_lag6_3,active_months_lag6_4,active_months_lag6_5,active_months_lag6_6,active_months_lag12_1,active_months_lag12_2,active_months_lag12_3,active_months_lag12_4,active_months_lag12_5,active_months_lag12_6,active_months_lag12_7,active_months_lag12_8,active_months_lag12_9,active_months_lag12_10,active_months_lag12_11,active_months_lag12_12
210653,M_ID_c2b9ac2ea4,69907,554,25,-0.057471,-0.057471,Y,1.11,0.702381,1.11,0.702381,1.11,0.702381,Y,-1,-1,NaN,1.0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
210654,M_ID_c2b9ac2ea4,35,554,25,-0.057471,-0.057471,Y,1.11,0.702381,1.11,0.702381,1.11,0.702381,Y,-1,-1,NaN,1.0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
210655,M_ID_c2b9ac2ea4,35,554,25,-0.057471,-0.057471,Y,2.13,1.806607,2.02,1.572673,1.77,1.491291,Y,-1,-1,NaN,1.0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
210656,M_ID_c2b9ac2ea4,69907,554,25,-0.057471,-0.057471,Y,2.13,1.806607,2.02,1.572673,1.77,1.491291,Y,-1,-1,NaN,1.0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [218]:
# this merchant_id has different merchant_category_id, city_id and state_id!!!
## but only the first one is found in hist_df, and none is found in new_merchant_df
merchants[merchants['merchant_id']=='M_ID_645a6af169']

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,category_4,city_id,state_id,category_2,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,active_months_lag3_1,active_months_lag3_2,active_months_lag3_3,active_months_lag6_1,active_months_lag6_2,active_months_lag6_3,active_months_lag6_4,active_months_lag6_5,active_months_lag6_6,active_months_lag12_1,active_months_lag12_2,active_months_lag12_3,active_months_lag12_4,active_months_lag12_5,active_months_lag12_6,active_months_lag12_7,active_months_lag12_8,active_months_lag12_9,active_months_lag12_10,active_months_lag12_11,active_months_lag12_12
47803,M_ID_645a6af169,35926,68,27,-0.057471,-0.057471,N,1.69,0.791667,2.62,1.812500,2.30,1.458333,N,94,19,3.0,1.0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
47804,M_ID_645a6af169,19140,87,27,-0.057471,-0.057471,N,0.89,1.111111,1.54,1.555556,1.55,2.000000,N,29,15,1.0,1.0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [184]:
hist_df[hist_df['merchant_id']=='M_ID_645a6af169']

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
3356832,Y,C_ID_98f5accdf1,94,N,2,C,87,M_ID_645a6af169,-10,0.749733,2017-04-27 20:42:01,3.0,19,27
9745698,Y,C_ID_53ffaf6b3b,94,N,0,A,87,M_ID_645a6af169,-7,-0.605659,2017-07-03 17:49:02,3.0,19,27
9933669,Y,C_ID_937c6664d1,94,N,0,A,87,M_ID_645a6af169,-7,-0.614374,2017-07-26 17:31:14,3.0,19,27
13594504,N,C_ID_979f05c4b4,94,N,3,C,87,M_ID_645a6af169,-8,-0.357721,2017-06-21 18:42:51,3.0,19,27
17290873,Y,C_ID_7ee81ee0c5,29,N,0,A,87,M_ID_645a6af169,-9,-0.621887,2017-05-18 19:20:52,1.0,15,27
23495271,Y,C_ID_7989f35725,94,N,-1,NaN,68,M_ID_645a6af169,-1,-0.163879,2018-01-06 16:15:09,3.0,19,27
27031946,Y,C_ID_37ef62ae47,94,N,-1,NaN,68,M_ID_645a6af169,-2,-0.117297,2017-12-20 19:59:36,3.0,19,27

In [186]:
new_merchant_df[new_merchant_df['merchant_id']=='M_ID_645a6af169']

Empty DataFrame
Columns: [authorized_flag, card_id, city_id, category_1, installments, category_3, merchant_category_id, merchant_id, month_lag, purchase_amount, purchase_date, category_2, state_id, subsector_id]
Index: []

In [219]:
merchants[['avg_sales_lag3', 'avg_sales_lag6', 'avg_sales_lag12']].corr()

                 avg_sales_lag3  avg_sales_lag6  avg_sales_lag12
avg_sales_lag3         1.000000        0.818022         0.634283
avg_sales_lag6         0.818022        1.000000         0.958423
avg_sales_lag12        0.634283        0.958423         1.000000

In [220]:
merchants[['avg_purchases_lag3', 'avg_purchases_lag6', 'avg_purchases_lag12']].corr()

,avg_purchases_lag3,avg_purchases_lag6,avg_purchases_lag12
avg_purchases_lag3,1.000000,0.996669,0.989830
avg_purchases_lag6,0.996669,1.000000,0.997549
avg_purchases_lag12,0.989830,0.997549,1.000000

In [250]:
merchants.isna().sum()

merchant_id                         0
merchant_group_id                   0
merchant_category_id                0
subsector_id                        0
numerical_1                         0
numerical_2                         0
avg_sales_lag3                     13
avg_purchases_lag3                  0
avg_sales_lag6                     13
avg_purchases_lag6                  0
avg_sales_lag12                    13
avg_purchases_lag12                 0
city_id                             0
state_id                            0
numerical_ratio                     0
most_recent_sales_range_A           0
most_recent_sales_range_B           0
most_recent_sales_range_C           0
most_recent_sales_range_D           0
most_recent_sales_range_E           0
most_recent_sales_range_nan         0
most_recent_purchases_range_A       0
most_recent_purchases_range_B       0
most_recent_purchases_range_C       0
most_recent_purchases_range_D       0
most_recent_purchases_range_E       0
most_recent_purchases_range_nan     0
active_months_lag3_1.0              0
active_months_lag3_2.0              0
active_months_lag3_3.0              0
                                   ..
active_months_lag6_3.0              0
active_months_lag6_4.0              0
active_months_lag6_5.0              0
active_months_lag6_6.0              0
active_months_lag6_nan              0
active_months_lag12_1.0             0
active_months_lag12_2.0             0
active_months_lag12_3.0             0
active_months_lag12_4.0             0
active_months_lag12_5.0             0
active_months_lag12_6.0             0
active_months_lag12_7.0             0
active_months_lag12_8.0             0
active_months_lag12_9.0             0
active_months_lag12_10.0            0
active_months_lag12_11.0            0
active_months_lag12_12.0            0
active_months_lag12_nan             0
category_1_N                        0
category_1_Y                        0
category_1_nan                      0
category_2_1.0                      0
category_2_2.0                      0
category_2_3.0                      0
category_2_4.0                      0
category_2_5.0                      0
category_2_nan                      0
category_4_N                        0
category_4_Y                        0
category_4_nan                      0
Length: 63, dtype: int64

In [251]:
merchants[merchants['avg_sales_lag3'].isnull()]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,city_id,state_id,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_sales_range_nan,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,most_recent_purchases_range_nan,active_months_lag3_1.0,active_months_lag3_2.0,active_months_lag3_3.0,active_months_lag3_nan,active_months_lag6_1.0,active_months_lag6_2.0,active_months_lag6_3.0,active_months_lag6_4.0,active_months_lag6_5.0,active_months_lag6_6.0,active_months_lag6_nan,active_months_lag12_1.0,active_months_lag12_2.0,active_months_lag12_3.0,active_months_lag12_4.0,active_months_lag12_5.0,active_months_lag12_6.0,active_months_lag12_7.0,active_months_lag12_8.0,active_months_lag12_9.0,active_months_lag12_10.0,active_months_lag12_11.0,active_months_lag12_12.0,active_months_lag12_nan,category_1_N,category_1_Y,category_1_nan,category_2_1.0,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_nan,category_4_N,category_4_Y,category_4_nan
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,NaN,1.666667,NaN,4.666667,NaN,3.833333,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,NaN,0.500000,NaN,0.361111,NaN,0.347222,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,NaN,1.000000,NaN,3.666667,NaN,3.833333,160,21,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,NaN,2.833333,NaN,4.833333,NaN,6.333333,60,16,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,NaN,1.000000,NaN,1.666667,NaN,1.500000,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,NaN,115.000000,NaN,189.916667,NaN,197.000000,248,15,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,NaN,1.000000,NaN,1.000000,NaN,1.000000,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,-1,9,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,88,16,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,NaN,1.000000,NaN,1.000000,NaN,1.000000,158,15,1.0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,NaN,1.666667,NaN,1.666667,NaN,1.666667,-1,16,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,NaN,1084.000000,NaN,3432.666667,NaN,5236.000000,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0

In [254]:
# these 3 merchants contain inf avg_purchase_lag
# it indicates on transaction in last month!
merchants[~np.isfinite(merchants['avg_purchases_lag3'])]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,city_id,state_id,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_sales_range_nan,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,most_recent_purchases_range_nan,active_months_lag3_1.0,active_months_lag3_2.0,active_months_lag3_3.0,active_months_lag3_nan,active_months_lag6_1.0,active_months_lag6_2.0,active_months_lag6_3.0,active_months_lag6_4.0,active_months_lag6_5.0,active_months_lag6_6.0,active_months_lag6_nan,active_months_lag12_1.0,active_months_lag12_2.0,active_months_lag12_3.0,active_months_lag12_4.0,active_months_lag12_5.0,active_months_lag12_6.0,active_months_lag12_7.0,active_months_lag12_8.0,active_months_lag12_9.0,active_months_lag12_10.0,active_months_lag12_11.0,active_months_lag12_12.0,active_months_lag12_nan,category_1_N,category_1_Y,category_1_nan,category_2_1.0,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_nan,category_4_N,category_4_Y,category_4_nan
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,-1,9,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,-1,-1,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,NaN,inf,NaN,inf,NaN,inf,88,16,1.0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0

In [264]:
merchants[['avg_purchases_lag3', 'avg_purchases_lag6', 'avg_purchases_lag12']][np.isfinite(merchants['avg_purchases_lag3'])].describe()

       avg_purchases_lag3  avg_purchases_lag6  avg_purchases_lag12
count       334693.000000       334693.000000        334693.000000
mean             1.590762            1.887568             2.079195
std            107.187059           97.862790            88.442384
min              0.333495            0.167045             0.098330
25%              0.923650            0.902245             0.898333
50%              1.016667            1.026961             1.043360
75%              1.146520            1.215556             1.266461
max          61851.333333        56077.500000         50215.555556

In [266]:
merchants['has_last_month_transaction'] = 1
merchants['has_last_month_transaction'][~np.isfinite(merchants['avg_purchases_lag3'])] = 0

In [267]:
merchants['has_last3_months_revenue'] = 1
merchants['has_last3_months_revenue'][merchants['avg_sales_lag3'].isnull()] = 0

In [269]:
merchants['avg_purchases_lag3'].replace(np.inf, 61851.333333, inplace=True)
merchants['avg_purchases_lag6'].replace(np.inf, 56077.500000, inplace=True)
merchants['avg_purchases_lag12'].replace(np.inf, 50215.555556, inplace=True)

In [272]:
merchants[['avg_sales_lag3', 'avg_sales_lag6', 'avg_sales_lag12']].replace(np.nan, 0, inplace=True)

In [278]:
merchants[['avg_sales_lag3', 'avg_sales_lag6', 'avg_sales_lag12']] = merchants[['avg_sales_lag3', 'avg_sales_lag6', 'avg_sales_lag12']].fillna(0)

In [279]:
merchants

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,city_id,state_id,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_sales_range_nan,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,most_recent_purchases_range_nan,active_months_lag3_1.0,active_months_lag3_2.0,active_months_lag3_3.0,active_months_lag3_nan,active_months_lag6_1.0,active_months_lag6_2.0,active_months_lag6_3.0,active_months_lag6_4.0,active_months_lag6_5.0,active_months_lag6_6.0,active_months_lag6_nan,active_months_lag12_1.0,active_months_lag12_2.0,active_months_lag12_3.0,active_months_lag12_4.0,active_months_lag12_5.0,active_months_lag12_6.0,active_months_lag12_7.0,active_months_lag12_8.0,active_months_lag12_9.0,active_months_lag12_10.0,active_months_lag12_11.0,active_months_lag12_12.0,active_months_lag12_nan,category_1_N,category_1_Y,category_1_nan,category_2_1.0,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_nan,category_4_N,category_4_Y,category_4_nan,has_last_month_transaction,has_last3_months_revenue
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,-0.40,9.666667,-2.25,18.666667,-2.32,13.916667,242,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,-0.72,1.750000,-0.74,1.291667,-0.57,1.687500,22,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,-82.13,260.000000,-82.13,260.000000,-82.13,260.000000,-1,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,1
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,0.00,1.666667,0.00,4.666667,0.00,3.833333,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,0.00,0.500000,0.00,0.361111,0.00,0.347222,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,0.00,1.000000,0.00,3.666667,0.00,3.833333,160,21,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,0.00,2.833333,0.00,4.833333,0.00,6.333333,60,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,0.00,1.000000,0.00,1.666667,0.00,1.500000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,0.00,115.000000,0.00,189.916667,0.00,197.000000,248,15,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,0.00,1.000000,0.00,1.000000,0.00,1.000000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,0.00,61851.333333,0.00,56077.500000,0.00,50215.555556,-1,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,0.00,61851.333333,0.00,56077.500000,0.00,50215.555556,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,0.00,61851.333333,0.00,56077.500000,0.00,50215.555556,88,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,0.00,1.000000,0.00,1.000000,0.00,1.000000,158,15,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,0.00,1.666667,0.00,1.666667,0.00,1.666667,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,0.00,1084.000000,0.00,3432.666667,0.00,5236.000000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
16,M_ID_c929bb59af,9514,2,20,-0.057471,-0.057471,69667.00,1.000000,69667.00,1.000000,69667.00,1.000000,-1,20,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,1
17,M_ID_dd3ae3de10,30534,278,37,-0.057471,-0.057471,5180.00,4.000000,9830.00,4.166667,15826.00,5.600000,11,23,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1
18,M_ID_dc671140d0,21536,278,37,-0.057471,-0.057471,7133.00,4.666667,17566.00,4.500000,19594.00,6.000000,143,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1
19,M_ID_7551d55443,16010,298,10,-0.057471,-0.057471,109733.00,18.666667,118433.00,19.000000,217857.00,35.416667,282,18,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1
20,M_ID_a8effe9197,577,497,27,-0.057471,-0.057471,3897.00,1.333333,2924.00,1.250000,2924.00,1.250000,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
21,M_ID_39643c7d93,22146,309,21,-0.057471,-0.057471,608433.00,5.666667,776683.00,7.000000,749804.00,6.000000,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
22,M_ID_07930b58ae,11559,705,33,-0.057471,-0.057471,148515.00,76.666667,245840.00,134.833333,272061.00,151.454545,123,19,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1
23,M_ID_e16b20b50a,35,511,7,-0.057471,-0.057471,385833.00,148.666667,464184.00,183.666667,460206.00,184.333333,126,4,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1
24,M_ID_0f0334c393,39020,437,15,-0.057471,-0.057471,205863.00,3.333333,1513959.00,33.666667,2567408.00,61.166667,272,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
25,M_ID_2be211b847,35,456,21,-0.057471,-0.057471,1.00,1.000000,1.00,1.000000,1.00,1.000000,85,8,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1
26,M_ID_0fa16b39ed,35,781,7,-0.057471,-0.057471,44436.00,11.333333,93735.00,17.500000,93735.00,17.500000,140,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
27,M_ID_69618a786a,4760,703,29,-0.057471,-0.057471,360107.00,20.666667,646764.00,37.333333,683700.00,39.818182,62,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
28,M_ID_3c87a47f6b,38953,703,29,-0.057471,-0.057471,624741.00,212.333333,953792.00,329.166667,827191.00,283.833333,60,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
29,M_ID_c44ccc8110,4274,278,37,-0.057471,-0.057471,133863.00,66.000000,133859.00,67.500000,133859.00,67.500000,143,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334666,M_ID_82a30d9203,35,705,33,67.383709,66.957368,1.11,1.095744,1.19,1.140296,1.29,1.193303,69,9,1.006367,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334667,M_ID_076cd8a829,401,665,3,-0.057471,-0.057471,0.59,0.659296,0.52,0.531372,0.51,0.436002,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334668,M_ID_a0bec1c066,2897,840,20,0.953850,-0.057471,0.98,0.987463,0.99,1.009592,0.97,0.992651,-1,9,-16.597160,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334669,M_ID_79692349d6,3097,491,3,-0.057471,-0.057471,0.95,0.828665,0.88,0.724008,0.77,0.619400,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334670,M_ID_96ba3c7b60,35,690,1,-0.057471,-0.057471,0.98,1.002399,0.89,0.935795,0.78,0.850326,-1,-1,1.000000,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334671,M_ID_77e2942cd8,35,705,33,80.164020,79.678190,1.04,1.049935,1.07,1.073962,1.09,1.088270,-1,16,1.006097,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334672,M_ID_2637773dd2,35,683,34,105.585835,104.901707,1.08,1.090130,1.10,1.092221,1.13,1.117407,69,9,1.006522,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334673,M_ID_b5b80addf5,176,705,33,1.211637,-0.047556,0.99,0.998045,1.02,1.002170,1.45,1.047121,69,9,-25.478246,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334674,M_ID_c9a8f296ae,108130,561,7,-0.057471,-0.057471,0.73,0.979991,0.60,0.877106,0.50,0.677564,231,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334675,M_ID_d855771cd9,35,278,37,129.322116,128.548754,1.15,1.150464,1.26,1.226926,1.30,1.270607,-1,9,1.006016,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334676,M_ID_b1fc88154d,321,705,33,0.388700,-0.047556,1.00,1.066087,1.02,1.087142,0.95,1.095145,137,19,-8.173566,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,1,1
334677,M_ID_ed8064314e,840,437,15,0.011934,-0.057471,1.00,1.005015,1.03,1.027947,1.07,1.062081,69,9,-0.207648,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334678,M_ID_98b342c0e3,35,80,37,183.735111,182.079322,1.15,1.150389,1.25,1.226935,1.29,1.261291,-1,9,1.009094,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334679,M_ID_b98db225f5,35,705,33,107.648135,107.132560,1.11,1.107805,1.19,1.181937,1.26,1.233718,-1,9,1.004812,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334680,M_ID_004995eae1,112528,705,33,0.130913,-0.057471,0.98,0.978401,1.03,0.998480,1.06,1.014429,158,15,-2.277902,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334681,M_ID_7159aca3bf,35,574,22,-0.057471,-0.057471,0.62,0.542203,0.33,0.278660,0.17,0.142010,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334682,M_ID_a62e20132d,112393,248,8,-0.057471,-0.057471,0.94,0.956257,0.86,0.908929,0.94,0.960127,69,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334683,M_ID_c1a7024db1,565,705,33,0.130913,-0.057471,1.00,1.014875,0.91,0.959783,0.97,0.986675,158,15,-2.277902,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334684,M_ID_981fe24744,771,690,1,1.231467,-0.057471,1.03,1.036908,1.05,1.080940,1.07,1.122159,69,9,-21.427753,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334685,M_ID_f86439cec0,35,278,37,117.830742,116.888826,1.08,1.092926,1.09,1.095924,1.13,1.125829,69,9,1.008058,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334686,M_ID_3111c6df35,107283,690,1,-0.057471,-0.057471,0.95,0.997999,0.90,0.967786,0.79,0.891154,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334687,M_ID_ca4d18b336,1145,437,15,0.170572,-0.057471,0.96,0.985340,0.95,0.986964,0.97,1.005476,69,9,-2.967987,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334688,M_ID_59764e8cb1,17285,309,21,0.329211,-0.057471,0.97,1.042942,1.00,1.107380,1.05,1.120891,-1,-1,-5.728326,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334689,M_ID_5ba019a379,35,80,37,172.719653,170.736672,1.07,1.089389,1.07,1.083591,1.11,1.110395,69,9,1.011614,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334690,M_ID_a9d91682ad,35,241,17,-0.057471,-0.057471,0.96,0.977410,0.85,0.919159,0.90,0.982781,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334691,M_ID_1f4773aa76,1145,705,33,3.174788,-0.047556,1.00,1.022618,0.99,1.019505,1.00,1.024796,69,9,-66.759291,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334692,M_ID_725a60d404,35,544,29,-0.057471,-0.057471,0.89,0.927684,0.78,0.813473,0.59,0.606765,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334693,M_ID_f2045dd267,35,561,7,-0.057471,-0.057471,0.96,0.982957,0.90,0.924769,0.74,0.750763,160,21,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1
334694,M_ID_9139332ccc,35,511,7,-0.057471,-0.057471,0.94,0.919558,0.82,0.783000,0.65,0.584000,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334695,M_ID_cd2c0b07e9,35,606,17,-0.057471,-0.057471,0.90,0.913902,0.73,0.744417,0.53,0.540334,69,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1

In [328]:
z = hist_df.groupby('card_id')['purchase_date'].max()
q = hist_df.groupby('card_id')['purchase_date'].min()
z = pd.DataFrame(z)
z.columns = ['Max']
z.reset_index(level=0, inplace=True)
q = pd.DataFrame(q)
q.columns = ['Min']
q.reset_index(level=0, inplace=True)

now = datetime.datetime.now()
curr_date = now.strftime("%m-%d-%Y, %H:%M:%S")
curr_date = pd.to_datetime(curr_date)

In [334]:
rec = pd.merge(z, q, how='left', on='card_id')
rec['Min'] = pd.to_datetime(rec['Min'])
rec['Max'] = pd.to_datetime(rec['Max'])

In [337]:
rec['Recency'] = (curr_date - rec['Max']).astype('timedelta64[D]')

# Recency
      Recency = timelapse of the last transaction
      Time = timelapse of the first transaction

In [343]:
rec['Time'] = (rec['Max'] - rec['Min']).astype('timedelta64[D]')
rec = rec[['card_id', 'Recency', 'Time']]
rec

                card_id  Recency   Time
0       C_ID_00007093c1    337.0  377.0
1       C_ID_0001238066    336.0  151.0
2       C_ID_0001506ef0    346.0  398.0
3       C_ID_0001793786    455.0  283.0
4       C_ID_000183fdda    338.0  202.0
5       C_ID_00024e244b    357.0  399.0
6       C_ID_0002709b5a    344.0  402.0
7       C_ID_00027503e2    375.0  237.0
8       C_ID_000298032a    370.0  345.0
9       C_ID_0002ba3c2e    457.0  295.0
10      C_ID_0002c7c2c1    369.0  284.0
11      C_ID_00032df08f    435.0  319.0
12      C_ID_0003754056    406.0  282.0
13      C_ID_000377f6a0    369.0  319.0
14      C_ID_0003be3c83    351.0  178.0
15      C_ID_0003f41435    336.0  258.0
16      C_ID_00042d509c    400.0  152.0
17      C_ID_0004587331    367.0  121.0
18      C_ID_0004725b87    381.0  370.0
19      C_ID_0004888ddd    364.0  211.0
20      C_ID_0004b68c49    395.0   96.0
21      C_ID_0004c2a5ab    343.0  406.0
22      C_ID_00057b99fe    352.0  385.0
23      C_ID_000599daf9    336.0  317.0
24      C_ID_0005b2f279    396.0  334.0
25      C_ID_0005b5804f    371.0  192.0
26      C_ID_0005f16cc8    335.0  421.0
27      C_ID_0006152db8    348.0  237.0
28      C_ID_000616f4a8    392.0  348.0
29      C_ID_000664aa02    342.0   62.0
...                 ...      ...    ...
325510  C_ID_fffb79fb56    609.0  146.0
325511  C_ID_fffb9ea3f6    336.0  224.0
325512  C_ID_fffba72dc5    336.0  130.0
325513  C_ID_fffbdf036b    608.0  120.0
325514  C_ID_fffbee5c24    409.0  270.0
325515  C_ID_fffc96bf24    337.0  421.0
325516  C_ID_fffcb74f49    336.0  252.0
325517  C_ID_fffcf66e12    369.0  382.0
325518  C_ID_fffd070e0e    336.0  391.0
325519  C_ID_fffd1207a8    335.0  422.0
325520  C_ID_fffd24dcf3    371.0  245.0
325521  C_ID_fffd337484    516.0  171.0
325522  C_ID_fffd345048    335.0  204.0
325523  C_ID_fffd351e7f    343.0  269.0
325524  C_ID_fffd93c8bf    342.0  138.0
325525  C_ID_fffd943b91    372.0  320.0
325526  C_ID_fffdad8aa0    336.0  131.0
325527  C_ID_fffde15ab6    339.0  244.0
325528  C_ID_fffdf34798    343.0  304.0
325529  C_ID_fffe29a04a    337.0  323.0
325530  C_ID_fffe78b232    335.0  419.0
325531  C_ID_fffe866457    335.0  333.0
325532  C_ID_fffea6de74    335.0  271.0
325533  C_ID_fffeced303    339.0  319.0
325534  C_ID_fffeed3a89    335.0  116.0
325535  C_ID_ffff1d9928    371.0   89.0
325536  C_ID_ffff579d3a    340.0  199.0
325537  C_ID_ffff756266    474.0  260.0
325538  C_ID_ffff828181    343.0  410.0
325539  C_ID_fffffd5772    338.0  188.0

[325540 rows x 3 columns]

In [340]:
# Frequency is the number of swipes

freq = hist_df.groupby('card_id').size().reset_index()
freq.columns = ['card_id', 'Frequency']
freq.head()

           card_id  Frequency
0  C_ID_00007093c1        149
1  C_ID_0001238066        123
2  C_ID_0001506ef0         66
3  C_ID_0001793786        216
4  C_ID_000183fdda        144

In [341]:
# Monitary is sum of purchase amount

mon = hist_df.groupby('card_id')['purchase_amount'].sum().reset_index()
mon.columns = ['card_id', 'Monitary']
mon.head()

           card_id   Monitary
0  C_ID_00007093c1 -76.845041
1  C_ID_0001238066 -72.447201
2  C_ID_0001506ef0 -34.601879
3  C_ID_0001793786 -36.786013
4  C_ID_000183fdda -68.837938

In [344]:
final = pd.merge(freq, mon, how='left', on='card_id')
final = pd.merge(final, rec, how='left', on='card_id')
final.head()

           card_id  Frequency   Monitary  Recency   Time
0  C_ID_00007093c1        149 -76.845041    337.0  377.0
1  C_ID_0001238066        123 -72.447201    336.0  151.0
2  C_ID_0001506ef0         66 -34.601879    346.0  398.0
3  C_ID_0001793786        216 -36.786013    455.0  283.0
4  C_ID_000183fdda        144 -68.837938    338.0  202.0

In [345]:
final['historic_CLV'] = final['Frequency'] * final['Monitary']
final['AOV'] = final['Monitary']/final['Frequency']
final['Predictive_CLV'] = final['Time']*final['AOV']*final['Monitary']*final['Recency'] 
final.head()

,card_id,Frequency,Monitary,Recency,Time,historic_CLV,AOV,Predictive_CLV
0,C_ID_00007093c1,149,-76.845041,337.0,377.0,-11449.911042,-0.515739,5.035199e+06
1,C_ID_0001238066,123,-72.447201,336.0,151.0,-8911.005737,-0.589002,2.164982e+06
2,C_ID_0001506ef0,66,-34.601879,346.0,398.0,-2283.724033,-0.524271,2.498128e+06
3,C_ID_0001793786,216,-36.786013,455.0,283.0,-7945.778765,-0.170306,8.066953e+05
4,C_ID_000183fdda,144,-68.837938,338.0,202.0,-9912.663098,-0.478041,2.246784e+06

In [395]:
final.columns

Index(['card_id', 'Frequency', 'Monitary', 'Recency', 'Time', 'historic_CLV',
       'AOV', 'Predictive_CLV'],
      dtype='object')

In [357]:
z = new_merchant_df.groupby('card_id')['purchase_date'].max()
q = new_merchant_df.groupby('card_id')['purchase_date'].min()
z = pd.DataFrame(z)
z.columns = ['Max']
z.reset_index(level=0, inplace=True)
q = pd.DataFrame(q)
q.columns = ['Min']
q.reset_index(level=0, inplace=True)

In [359]:
rec = pd.merge(z, q, how='left', on='card_id')
rec['Min'] = pd.to_datetime(rec['Min'])
rec['Max'] = pd.to_datetime(rec['Max'])
rec['Recency'] = (curr_date - rec['Max']).astype('timedelta64[D]')
rec['Time'] = (rec['Max'] - rec['Min']).astype('timedelta64[D]')
rec = rec[['card_id', 'Recency', 'Time']]
rec

                card_id  Recency  Time
0       C_ID_00007093c1    295.0   6.0
1       C_ID_0001238066    274.0  60.0
2       C_ID_0001506ef0    313.0   5.0
3       C_ID_0001793786    394.0  46.0
4       C_ID_000183fdda    274.0  59.0
5       C_ID_0002709b5a    274.0  58.0
6       C_ID_000298032a    306.0   0.0
7       C_ID_0002ba3c2e    413.0  40.0
8       C_ID_0002c7c2c1    311.0  44.0
9       C_ID_00032df08f    365.0  23.0
10      C_ID_0003754056    352.0   0.0
11      C_ID_000377f6a0    305.0   0.0
12      C_ID_0003be3c83    285.0  40.0
13      C_ID_0003f41435    292.0  32.0
14      C_ID_00042d509c    342.0  12.0
15      C_ID_0004587331    341.0  13.0
16      C_ID_0004725b87    278.0   0.0
17      C_ID_0004888ddd    326.0   0.0
18      C_ID_0004b68c49    350.0  34.0
19      C_ID_0004c2a5ab    284.0  49.0
20      C_ID_00057b99fe    306.0   0.0
21      C_ID_000599daf9    277.0  52.0
22      C_ID_0005f16cc8    291.0  33.0
23      C_ID_0006152db8    288.0  40.0
24      C_ID_000616f4a8    286.0  30.0
25      C_ID_000664aa02    288.0  45.0
26      C_ID_00079fec55    351.0   0.0
27      C_ID_0007a60a33    321.0   0.0
28      C_ID_0007fe3157    282.0  52.0
29      C_ID_000844d8f1    283.0  49.0
...                 ...      ...   ...
289971  C_ID_fffaed41f0    279.0  52.0
289972  C_ID_fffb79fb56    572.0   0.0
289973  C_ID_fffba72dc5    314.0   1.0
289974  C_ID_fffbdf036b    547.0  59.0
289975  C_ID_fffbee5c24    332.0  18.0
289976  C_ID_fffc96bf24    292.0  22.0
289977  C_ID_fffcb74f49    280.0  44.0
289978  C_ID_fffcf66e12    284.0   0.0
289979  C_ID_fffd070e0e    279.0  28.0
289980  C_ID_fffd1207a8    274.0  59.0
289981  C_ID_fffd24dcf3    276.0  42.0
289982  C_ID_fffd337484    490.0  19.0
289983  C_ID_fffd345048    283.0  50.0
289984  C_ID_fffd351e7f    278.0  54.0
289985  C_ID_fffd93c8bf    274.0  48.0
289986  C_ID_fffd943b91    308.0  47.0
289987  C_ID_fffdad8aa0    279.0  51.0
289988  C_ID_fffde15ab6    332.0   0.0
289989  C_ID_fffdf34798    280.0  27.0
289990  C_ID_fffe29a04a    293.0  35.0
289991  C_ID_fffe78b232    277.0  57.0
289992  C_ID_fffe866457    274.0  54.0
289993  C_ID_fffea6de74    277.0  56.0
289994  C_ID_fffeced303    277.0  55.0
289995  C_ID_fffeed3a89    274.0  60.0
289996  C_ID_ffff1d9928    284.0  31.0
289997  C_ID_ffff579d3a    314.0   0.0
289998  C_ID_ffff756266    295.0   0.0
289999  C_ID_ffff828181    275.0  45.0
290000  C_ID_fffffd5772    308.0  24.0

[290001 rows x 3 columns]

In [382]:
freq = hist_df.groupby('card_id').size().reset_index()
freq.columns = ['card_id', 'Frequency']

mon = hist_df.groupby('card_id')['purchase_amount'].sum().reset_index()
mon.columns = ['card_id', 'Monitary']

final = pd.merge(freq, mon, how='left', on='card_id')
final = pd.merge(final, rec, how='left', on='card_id')
final.head()

           card_id  Frequency   Monitary  Recency  Time
0  C_ID_00007093c1        149 -76.845041    295.0   6.0
1  C_ID_0001238066        123 -72.447201    274.0  60.0
2  C_ID_0001506ef0         66 -34.601879    313.0   5.0
3  C_ID_0001793786        216 -36.786013    394.0  46.0
4  C_ID_000183fdda        144 -68.837938    274.0  59.0

In [384]:
final['historic_CLV'] = final['Frequency'] * final['Monitary']
final['AOV'] = final['Monitary']/final['Frequency']
final['Predictive_CLV'] = final['Time']*final['AOV']*final['Monitary']*final['Recency'] 
final.head()

,card_id,Frequency,Monitary,Recency,Time,historic_CLV,AOV,Predictive_CLV
0,C_ID_00007093c1,149,-76.845041,295.0,6.0,-11449.911042,-0.515739,70148.548021
1,C_ID_0001238066,123,-72.447201,274.0,60.0,-8911.005737,-0.589002,701519.787286
2,C_ID_0001506ef0,66,-34.601879,313.0,5.0,-2283.724033,-0.524271,28390.286801
3,C_ID_0001793786,216,-36.786013,394.0,46.0,-7945.778765,-0.170306,113544.404678
4,C_ID_000183fdda,144,-68.837938,274.0,59.0,-9912.663098,-0.478041,531980.594261

In [388]:
new_additional_features = final

In [379]:
hist_additional_features = final

In [390]:
hist_additional_features.add_prefix('hist_')

,hist_card_id,hist_Frequency,hist_Monitary,hist_Recency,hist_Time,hist_historic_CLV,hist_AOV,hist_Predictive_CLV
0,C_ID_00007093c1,149,-76.845041,337.0,377.0,-11449.911042,-0.515739,5.035199e+06
1,C_ID_0001238066,123,-72.447201,336.0,151.0,-8911.005737,-0.589002,2.164982e+06
2,C_ID_0001506ef0,66,-34.601879,346.0,398.0,-2283.724033,-0.524271,2.498128e+06
3,C_ID_0001793786,216,-36.786013,455.0,283.0,-7945.778765,-0.170306,8.066953e+05
4,C_ID_000183fdda,144,-68.837938,338.0,202.0,-9912.663098,-0.478041,2.246784e+06
5,C_ID_00024e244b,70,-41.552753,357.0,399.0,-2908.692707,-0.593611,3.513522e+06
6,C_ID_0002709b5a,73,-47.659542,344.0,402.0,-3479.146594,-0.652870,4.302901e+06
7,C_ID_00027503e2,42,-31.123047,375.0,237.0,-1307.167954,-0.741025,2.049720e+06
8,C_ID_000298032a,30,-15.992416,370.0,345.0,-479.772478,-0.533081,1.088248e+06
9,C_ID_0002ba3c2e,70,-44.342996,457.0,295.0,-3104.009712,-0.633471,3.786956e+06
10,C_ID_0002c7c2c1,67,-44.183670,369.0,284.0,-2960.305875,-0.659458,3.053469e+06
11,C_ID_00032df08f,145,-53.015743,435.0,319.0,-7687.282674,-0.365626,2.689810e+06
12,C_ID_0003754056,36,-24.748289,406.0,282.0,-890.938413,-0.687452,1.947884e+06
13,C_ID_000377f6a0,28,-16.408966,369.0,319.0,-459.451046,-0.586034,1.131935e+06
14,C_ID_0003be3c83,171,-101.899780,351.0,178.0,-17424.862435,-0.595905,3.793827e+06
15,C_ID_0003f41435,263,-187.996163,336.0,258.0,-49442.990903,-0.714814,1.164934e+07
16,C_ID_00042d509c,62,-39.175454,400.0,152.0,-2428.878126,-0.631862,1.505012e+06
17,C_ID_0004587331,14,-10.058176,367.0,121.0,-140.814464,-0.718441,3.208942e+05
18,C_ID_0004725b87,78,-48.945722,381.0,370.0,-3817.766286,-0.627509,4.329738e+06
19,C_ID_0004888ddd,41,-29.001558,364.0,211.0,-1189.063896,-0.707355,1.575588e+06
20,C_ID_0004b68c49,5,-2.522185,395.0,96.0,-12.610925,-0.504437,4.824499e+04
21,C_ID_0004c2a5ab,73,-46.364468,343.0,406.0,-3384.606128,-0.635130,4.100793e+06
22,C_ID_00057b99fe,35,-25.299552,352.0,385.0,-885.484315,-0.722844,2.478341e+06
23,C_ID_000599daf9,35,-20.230403,336.0,317.0,-708.064112,-0.578012,1.245488e+06
24,C_ID_0005b2f279,16,-10.090693,396.0,334.0,-161.451094,-0.630668,8.417123e+05
25,C_ID_0005b5804f,8,-5.430055,371.0,192.0,-43.440443,-0.678757,2.625389e+05
26,C_ID_0005f16cc8,153,-93.870168,335.0,421.0,-14362.135773,-0.613531,8.122518e+06
27,C_ID_0006152db8,86,-61.077436,348.0,237.0,-5252.659490,-0.710203,3.577591e+06
28,C_ID_000616f4a8,38,-22.327744,392.0,348.0,-848.454258,-0.587572,1.789664e+06
29,C_ID_000664aa02,35,-22.401839,342.0,62.0,-784.064377,-0.640053,3.040305e+05
...,...,...,...,...,...,...,...,...
325510,C_ID_fffb79fb56,21,-8.558260,609.0,146.0,-179.723452,-0.407536,3.101143e+05
325511,C_ID_fffb9ea3f6,58,-40.888341,336.0,224.0,-2371.523759,-0.704971,2.169493e+06
325512,C_ID_fffba72dc5,81,-37.967352,336.0,130.0,-3075.355520,-0.468733,7.773529e+05
325513,C_ID_fffbdf036b,97,-68.541165,608.0,120.0,-6648.492970,-0.706610,3.533589e+06
325514,C_ID_fffbee5c24,22,-6.412429,409.0,270.0,-141.073431,-0.291474,2.063999e+05
325515,C_ID_fffc96bf24,217,-120.123107,337.0,421.0,-26066.714308,-0.553563,9.434207e+06
325516,C_ID_fffcb74f49,109,-66.958016,336.0,252.0,-7298.423783,-0.614294,3.482719e+06
325517,C_ID_fffcf66e12,34,-23.372492,369.0,382.0,-794.664725,-0.687426,2.264753e+06
325518,C_ID_fffd070e0e,42,-25.916360,336.0,391.0,-1088.487126,-0.617056,2.100945e+06
325519,C_ID_fffd1207a8,799,-558.392060,335.0,422.0,-446155.256236,-0.698864,5.516822e+07
325520,C_ID_fffd24dcf3,14,12.448458,371.0,245.0,174.278416,0.889176,1.006105e+06
325521,C_ID_fffd337484,34,0.573712,516.0,171.0,19.506215,0.016874,8.541911e+02
325522,C_ID_fffd345048,69,-39.708910,335.0,204.0,-2739.914776,-0.575491,1.561715e+06
325523,C_ID_fffd351e7f,231,-119.973428,343.0,269.0,-27713.861937,-0.519365,5.749162e+06
325524,C_ID_fffd93c8bf,134,-79.469917,342.0,138.0,-10648.968818,-0.593059,2.224364e+06
325525,C_ID_fffd943b91,64,-40.502670,372.0,320.0,-2592.170898,-0.632854,3.051267e+06
325526,C_ID_fffdad8aa0,125,-86.160170,336.0,131.0,-10770.021301,-0.689281,2.614049e+06
325527,C_ID_fffde15ab6,82,-55.583728,339.0,244.0,-4557.865723,-0.677850,3.116528e+06
325528,C_ID_fffdf34798,57,-37.961011,343.0,304.0,-2163.777622,-0.665983,2.636139e+06
325529,C_ID_fffe29a04a,87,-55.241244,337.0,323.0,-4805.988234,-0.634957,3.818036e+06
325530,C_ID_fffe78b232,354,-231.931069,335.0,419.0,-82103.598493,-0.655173,2.132914e+07
325531,C_ID_fffe866457,58,-33.450653,335.0,333.0,-1940.137886,-0.576735,2.152139e+06
325532,C_ID_fffea6de74,403,-237.980923,335.0,271.0,-95906.311985,-0.590523,1.275832e+07
325533,C_ID_fffeced303,188,-128.225838,339.0,319.0,-24106.457619,-0.682052,9.457658e+06
325534,C_ID_fffeed3a89,168,-83.988674,335.0,116.0,-14110.097250,-0.499933,1.631680e+06
325535,C_ID_ffff1d9928,12,-7.477673,371.0,89.0,-89.732078,-0.623139,1.538564e+05
325536,C_ID_ffff579d3a,114,-80.292768,340.0,199.0,-9153.375586,-0.704323,3.826309e+06
325537,C_ID_ffff756266,24,-5.506420,474.0,260.0,-132.154084,-0.229434,1.556966e+05
325538,C_ID_ffff828181,190,-120.099200,343.0,410.0,-22818.848063,-0.632101,1.067590e+07
325539,C_ID_fffffd5772,84,-58.035274,338.0,188.0,-4874.962981,-0.690896,2.547882e+06

In [393]:
hist_additional_features.iloc[:,1:] = hist_additional_features.iloc[:,1:].add_prefix('hist_')

In [401]:
['authorized_flag', 'category_1', 'category_2', 'category_3']

['authorized_flag', 'category_1', 'category_2', 'category_3']

In [403]:
hist_df['subsector_id'].unique()

array([37, 16, 34, 41, 29,  7, 33,  2, 36, 25, 15, 19, 10, 30, 18,  8, 27,
        1, 39, 32, 22, 20, 21,  9, 17, 38, 12, 26, 31, 13, 35,  5, 23,  3,
        4, 14, 24, 40, 11, -1, 28])

In [398]:
hist_df

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37
5,Y,C_ID_4e6213e9bc,333,N,0,A,80,M_ID_50af771f8d,0,-0.734887,2018-02-24 08:45:05,1.0,9,37
6,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_5e8220e564,-11,-0.716855,2017-03-21 00:10:51,1.0,16,37
7,Y,C_ID_4e6213e9bc,3,N,0,A,80,M_ID_9d41786a50,-3,-0.657049,2017-11-18 20:05:55,1.0,16,37
8,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-8,-0.737967,2017-06-01 22:02:56,1.0,16,37
9,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_74ba14b5fc,-11,-0.715352,2017-03-16 15:41:22,1.0,16,37
10,Y,C_ID_4e6213e9bc,88,N,0,A,683,M_ID_1449f22bfb,-9,-0.734135,2017-05-09 12:42:07,1.0,16,34
11,Y,C_ID_4e6213e9bc,-1,N,0,A,560,M_ID_7c5e93af2f,0,-0.727929,2018-02-08 20:05:45,NaN,-1,34
12,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.741649,2017-06-08 18:02:29,1.0,16,37
13,Y,C_ID_4e6213e9bc,88,N,0,A,130,M_ID_e8fb39882d,-7,-0.727373,2017-07-14 12:59:38,1.0,16,41
14,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_97e86eae5f,-4,-0.731881,2017-10-24 13:29:29,1.0,16,37
15,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-8,-0.738192,2017-06-14 07:40:48,1.0,16,34
16,Y,C_ID_4e6213e9bc,69,N,0,A,879,M_ID_00a6ca8a8a,0,-0.725871,2018-02-07 12:19:33,1.0,9,29
17,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_21e1552dab,-7,-0.734887,2017-07-07 13:03:27,1.0,16,37
18,Y,C_ID_4e6213e9bc,233,N,0,A,80,M_ID_4524a562f3,-1,-0.699725,2018-01-08 23:54:29,1.0,9,37
19,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-6,-0.745405,2017-08-11 17:53:00,1.0,16,37
20,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_21e1552dab,-6,-0.734887,2017-08-30 12:53:57,1.0,16,37
21,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-7,-0.737967,2017-07-01 21:27:23,1.0,16,37
22,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-7,-0.739545,2017-07-14 22:06:02,1.0,16,37
23,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_e020e9b302,-9,-0.726998,2017-05-06 12:29:50,1.0,16,37
24,Y,C_ID_4e6213e9bc,3,N,0,A,511,M_ID_79db784180,-13,-0.731881,2017-01-20 09:16:43,1.0,16,7
25,Y,C_ID_4e6213e9bc,333,N,0,A,80,M_ID_50af771f8d,0,-0.735638,2018-02-26 14:54:38,1.0,9,37
26,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_e020e9b302,-10,-0.726472,2017-04-29 12:30:03,1.0,16,37
27,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-8,-0.726772,2017-06-23 21:43:17,1.0,16,37
28,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_21e1552dab,-11,-0.721363,2017-03-10 15:46:19,1.0,16,37
29,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_dc7356f06d,-6,-0.692211,2017-08-05 19:10:32,1.0,16,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112331,Y,C_ID_e43fce4842,69,N,1,B,879,M_ID_00a6ca8a8a,-7,-0.744774,2017-07-12 18:01:13,1.0,9,29
29112332,Y,C_ID_e43fce4842,-1,Y,10,C,544,M_ID_3111c6df35,-6,-0.040692,2017-08-03 15:06:50,NaN,-1,29
29112333,Y,C_ID_112832329d,-1,Y,8,C,210,M_ID_cfa9a773ca,0,0.502952,2018-01-29 15:08:56,NaN,-1,35
29112334,Y,C_ID_112832329d,-1,Y,4,C,210,M_ID_6464db3b45,-1,0.506889,2017-12-11 19:03:31,NaN,-1,35
29112335,Y,C_ID_2a8874827b,19,N,0,A,307,M_ID_0bd214d6c8,-1,-0.681542,2017-01-06 14:54:55,1.0,9,19
29112336,Y,C_ID_2a8874827b,19,N,0,A,607,M_ID_b98db225f5,0,-0.708891,2017-02-07 16:02:48,1.0,9,29
29112337,Y,C_ID_5c356aa384,20,N,0,A,307,M_ID_69c092c26e,-1,-0.596643,2017-12-05 12:38:59,3.0,19,19
29112338,Y,C_ID_5c356aa384,330,N,0,A,705,M_ID_b872abf8ca,-3,-0.550316,2017-10-07 20:00:40,3.0,17,33
29112339,Y,C_ID_5c356aa384,69,N,0,A,879,M_ID_00a6ca8a8a,-3,-0.605659,2017-10-02 00:35:15,1.0,9,29
29112340,Y,C_ID_f9f906a4a2,-1,Y,1,B,661,M_ID_fc7d7969c3,-1,-0.704984,2018-01-01 18:33:46,NaN,-1,8
29112341,Y,C_ID_f9f906a4a2,-1,Y,1,B,661,M_ID_fc7d7969c3,0,-0.704984,2018-02-01 18:06:30,NaN,-1,8
29112342,Y,C_ID_f9f906a4a2,-1,Y,1,B,661,M_ID_fc7d7969c3,-2,-0.745405,2017-12-24 00:19:52,NaN,-1,8
29112343,Y,C_ID_5cf3187742,277,N,0,A,278,M_ID_4b5760f37b,-3,-0.666065,2017-11-26 02:27:39,4.0,13,37
29112344,Y,C_ID_5cf3187742,277,N,0,A,68,M_ID_9a72bcd3b4,-2,-0.686817,2017-12-30 19:36:04,4.0,13,27
29112345,Y,C_ID_5cf3187742,277,N,0,A,367,M_ID_bf86e8edcd,-5,-0.735638,2017-09-23 22:42:58,4.0,13,16
29112346,Y,C_ID_803aa0aed4,30,N,0,A,705,M_ID_1ada7c0ceb,0,-0.718523,2018-02-20 14:18:46,3.0,17,33
29112347,Y,C_ID_803aa0aed4,330,N,0,A,705,M_ID_393b4b8cec,-8,-0.702504,2017-06-01 16:55:08,3.0,17,33
29112348,Y,C_ID_803aa0aed4,69,N,0,A,879,M_ID_00a6ca8a8a,-9,-0.724067,2017-05-20 16:55:17,1.0,9,29
29112349,Y,C_ID_62df280b20,-1,Y,2,C,489,M_ID_244299ea12,-2,1.363355,2017-09-18 20:35:39,NaN,-1,16
29112350,Y,C_ID_62df280b20,-1,Y,2,C,489,M_ID_244299ea12,-3,0.032638,2017-08-08 14:36:26,NaN,-1,16
29112351,Y,C_ID_62df280b20,168,N,2,C,506,M_ID_aa18020893,-3,-0.612631,2017-08-29 11:43:46,1.0,9,30
29112352,Y,C_ID_62df280b20,24,N,3,C,87,M_ID_94f6f392c4,-3,-0.459451,2017-08-29 11:28:25,1.0,9,27
29112353,Y,C_ID_e49b1996b0,11,N,1,B,705,M_ID_b692f6f5d1,-2,-0.618747,2017-12-29 14:43:53,2.0,23,33
29112354,Y,C_ID_e49b1996b0,-1,Y,1,B,550,M_ID_09d7a200d1,-1,-0.656749,2018-01-23 01:52:28,NaN,-1,3
29112355,Y,C_ID_e49b1996b0,11,N,1,B,130,M_ID_ea5d727248,0,-0.694315,2018-02-07 18:17:01,2.0,23,41
29112356,Y,C_ID_2863d2fa95,-1,Y,1,B,360,M_ID_edd92b6720,-1,-0.632706,2017-01-20 08:52:04,NaN,-1,34
29112357,Y,C_ID_2863d2fa95,-1,Y,1,B,360,M_ID_edd92b6720,0,-0.632706,2017-02-20 04:40:50,NaN,-1,34
29112358,Y,C_ID_5c240d6e3c,3,N,0,A,278,M_ID_9cdcfe8673,0,-0.657740,2017-12-26 18:37:51,1.0,16,37
29112359,Y,C_ID_5c240d6e3c,331,N,0,A,514,M_ID_1a75f94f92,-1,0.770620,2017-11-24 14:18:15,1.0,16,9
29112360,Y,C_ID_5c240d6e3c,331,N,0,A,514,M_ID_1a75f94f92,-2,1.134411,2017-10-26 14:09:40,1.0,16,9

In [400]:
new_merchant_df

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29
5,Y,C_ID_ef55cf8d4b,231,N,1,B,367,M_ID_8874615e00,2,-0.633007,2018-04-02 12:53:28,1.0,9,16
6,Y,C_ID_ef55cf8d4b,69,N,1,B,333,M_ID_6d061b5ddc,1,5.263697,2018-03-28 19:50:19,1.0,9,10
7,Y,C_ID_ef55cf8d4b,231,N,1,B,307,M_ID_df1e022f41,2,-0.553787,2018-04-05 08:06:52,1.0,9,19
8,Y,C_ID_ef55cf8d4b,69,N,1,B,278,M_ID_d15eae0468,2,-0.596643,2018-04-07 18:37:40,1.0,9,37
9,Y,C_ID_ef55cf8d4b,69,N,1,B,437,M_ID_5f9bffd028,1,-0.607191,2018-03-17 18:10:41,1.0,9,15
10,Y,C_ID_ef55cf8d4b,69,N,-1,NaN,45,M_ID_3ffd43b4cd,1,4.452265,2018-03-31 09:55:40,1.0,9,18
11,Y,C_ID_ef55cf8d4b,69,N,1,B,108,M_ID_e6f5213fbf,1,-0.605959,2018-03-11 12:53:41,1.0,9,34
12,Y,C_ID_ef55cf8d4b,69,N,1,B,278,M_ID_aa97bc87f6,1,-0.634209,2018-03-14 14:07:43,1.0,9,37
13,Y,C_ID_ef55cf8d4b,69,N,1,B,157,M_ID_28fbc8c74d,2,-0.492058,2018-04-14 09:27:45,1.0,9,29
14,Y,C_ID_ef55cf8d4b,-1,Y,1,B,302,M_ID_b9f9332438,1,-0.665539,2018-03-23 21:35:53,NaN,-1,22
15,Y,C_ID_ef55cf8d4b,231,N,1,B,80,M_ID_ad15049b64,2,-0.646245,2018-04-18 12:41:48,1.0,9,37
16,Y,C_ID_ef55cf8d4b,69,N,1,B,307,M_ID_51757498fd,1,-0.671775,2018-03-11 12:38:56,1.0,9,19
17,Y,C_ID_ef55cf8d4b,69,N,1,B,560,M_ID_a1183a4e5e,2,-0.690228,2018-04-22 15:00:27,1.0,9,34
18,Y,C_ID_ef55cf8d4b,231,N,3,C,333,M_ID_f74d9cbbd0,1,0.751371,2018-03-01 14:26:52,1.0,9,10
19,Y,C_ID_ef55cf8d4b,231,N,1,B,369,M_ID_f0bf60c061,1,-0.343296,2018-03-22 09:57:23,1.0,9,27
20,Y,C_ID_ef55cf8d4b,231,N,1,B,278,M_ID_2ae6547567,1,-0.654885,2018-03-20 10:37:33,1.0,9,37
21,Y,C_ID_ef55cf8d4b,-1,Y,3,C,491,M_ID_79692349d6,1,3.009720,2018-03-30 20:05:54,NaN,-1,3
22,Y,C_ID_ef55cf8d4b,231,N,1,B,360,M_ID_532b2abc39,2,-0.432253,2018-04-06 13:28:22,1.0,9,34
23,Y,C_ID_ef55cf8d4b,69,N,2,C,87,M_ID_99c89d936e,1,-0.357721,2018-03-24 14:58:30,1.0,9,27
24,Y,C_ID_ef55cf8d4b,-1,Y,12,C,690,M_ID_3111c6df35,1,2.126146,2018-03-03 11:40:58,NaN,-1,1
25,Y,C_ID_ef55cf8d4b,69,N,1,B,195,M_ID_7fc4685211,1,-0.704834,2018-03-17 12:32:31,1.0,9,34
26,Y,C_ID_241a01e9d9,69,N,3,C,884,M_ID_7c26306ee3,2,-0.461705,2018-04-22 19:19:08,1.0,9,27
27,Y,C_ID_241a01e9d9,188,N,6,C,690,M_ID_7c7d14fd19,2,-0.294760,2018-04-22 19:34:11,1.0,9,1
28,Y,C_ID_a97720321f,69,N,0,A,419,M_ID_7064a8aa68,1,-0.202377,2018-03-02 12:06:23,1.0,9,1
29,Y,C_ID_a97720321f,69,N,0,A,705,M_ID_1f4773aa76,1,0.755743,2018-03-03 12:14:58,1.0,9,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1963001,Y,C_ID_69f1f3ebe6,158,N,0,A,278,M_ID_deb43ff012,1,-0.563735,2018-03-01 22:26:06,1.0,15,37
1963002,Y,C_ID_df4e6d6000,248,N,-1,NaN,34,M_ID_4247d8f9d5,2,-0.160874,2018-04-18 12:39:52,1.0,15,38
1963003,Y,C_ID_1237c3fdc8,96,N,0,A,705,M_ID_9a30428081,1,-0.682294,2018-03-04 22:07:05,2.0,24,33
1963004,Y,C_ID_f992de33d6,-1,N,0,A,278,M_ID_9501338459,2,-0.672527,2018-04-28 21:29:42,NaN,-1,37
1963005,Y,C_ID_e81ed766f7,19,N,1,B,705,M_ID_0180a94418,1,-0.671354,2018-03-10 18:30:43,1.0,9,33
1963006,Y,C_ID_b77af92f06,20,N,1,B,419,M_ID_916fb760fc,1,-0.722865,2018-03-21 07:21:02,3.0,19,1
1963007,Y,C_ID_abe7761316,69,N,2,C,561,M_ID_50f575c681,1,0.105095,2018-03-24 11:35:17,1.0,9,7
1963008,Y,C_ID_734044eeeb,212,N,-1,NaN,222,M_ID_d08abd9332,2,14.269401,2018-04-23 06:44:21,4.0,4,21
1963009,Y,C_ID_1e2c41f86e,17,N,0,A,307,M_ID_cf49ae3158,1,-0.528197,2018-03-04 19:04:13,4.0,22,19
1963010,Y,C_ID_737e5c1d9f,251,N,0,A,705,M_ID_670cdecb69,2,-0.731881,2017-11-15 00:00:00,3.0,8,33
1963011,Y,C_ID_28a5007fc6,-1,Y,1,B,661,M_ID_fc7d7969c3,2,-0.745405,2018-04-10 13:55:42,NaN,-1,8
1963012,Y,C_ID_a491e3dced,131,N,6,C,690,M_ID_4f04567628,2,0.723587,2018-04-15 16:12:16,1.0,9,1
1963013,Y,C_ID_475e1a530f,69,N,1,B,606,M_ID_cd2c0b07e9,2,-0.671775,2018-03-31 12:50:42,1.0,9,17
1963014,Y,C_ID_ef391c6cec,140,N,0,A,87,M_ID_7c8a56dbd3,1,-0.716855,2018-02-05 12:27:18,1.0,9,27
1963015,Y,C_ID_06512aaeca,69,N,0,A,317,M_ID_f3867a48a4,1,-0.701828,2018-03-03 12:58:59,1.0,9,25
1963016,Y,C_ID_c0c1724034,212,N,1,B,813,M_ID_b89572fff4,1,-0.691505,2017-11-02 10:34:29,4.0,4,29
1963017,Y,C_ID_bb36dec90b,331,N,0,A,560,M_ID_b5e5acf804,2,-0.735563,2018-04-09 17:16:51,1.0,16,34
1963018,Y,C_ID_8dedf7350a,174,N,1,B,222,M_ID_c0915e5912,1,-0.710844,2018-03-14 14:56:26,1.0,9,21
1963019,Y,C_ID_5aa521bb3e,-1,Y,10,C,690,M_ID_3111c6df35,2,0.378578,2018-02-23 23:27:22,NaN,-1,1
1963020,Y,C_ID_c07707ff74,194,N,2,C,87,M_ID_7dabac675c,1,-0.476431,2018-03-29 17:41:22,5.0,21,27
1963021,Y,C_ID_c0dda9d36b,87,N,1,B,367,M_ID_96e6a85df9,2,-0.650858,2018-04-14 09:30:29,3.0,11,16
1963022,Y,C_ID_01d35d1005,109,N,0,A,195,M_ID_f028b9c665,1,-0.679439,2018-03-28 14:47:17,1.0,9,34
1963023,Y,C_ID_611d4d588f,302,N,1,B,307,M_ID_ee5a6f6a35,2,-0.731881,2018-03-11 15:07:49,3.0,7,19
1963024,Y,C_ID_0509e85404,322,N,1,B,705,M_ID_531bc3b325,2,-0.182166,2018-04-30 08:57:58,3.0,11,33
1963025,Y,C_ID_d3ad1091dc,51,N,0,A,560,M_ID_feaccfbea2,2,-0.743527,2017-12-20 13:48:02,1.0,16,34
1963026,Y,C_ID_1320dee851,142,N,0,A,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06 14:36:52,3.0,19,21
1963027,Y,C_ID_f112aa3381,158,N,0,A,560,M_ID_da063195b7,2,-0.694390,2018-03-07 13:19:18,1.0,15,34
1963028,Y,C_ID_bd97b86450,69,N,1,B,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05 12:04:56,1.0,9,37
1963029,Y,C_ID_c0513fd84f,130,N,0,A,367,M_ID_40c28d596f,1,-0.656749,2018-03-09 14:47:05,3.0,7,16
1963030,Y,C_ID_a935410f8e,19,N,0,A,278,M_ID_d855771cd9,2,-0.739395,2018-04-11 07:59:46,1.0,9,37

In [404]:
merchants

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,city_id,state_id,numerical_ratio,most_recent_sales_range_A,most_recent_sales_range_B,most_recent_sales_range_C,most_recent_sales_range_D,most_recent_sales_range_E,most_recent_sales_range_nan,most_recent_purchases_range_A,most_recent_purchases_range_B,most_recent_purchases_range_C,most_recent_purchases_range_D,most_recent_purchases_range_E,most_recent_purchases_range_nan,active_months_lag3_1.0,active_months_lag3_2.0,active_months_lag3_3.0,active_months_lag3_nan,active_months_lag6_1.0,active_months_lag6_2.0,active_months_lag6_3.0,active_months_lag6_4.0,active_months_lag6_5.0,active_months_lag6_6.0,active_months_lag6_nan,active_months_lag12_1.0,active_months_lag12_2.0,active_months_lag12_3.0,active_months_lag12_4.0,active_months_lag12_5.0,active_months_lag12_6.0,active_months_lag12_7.0,active_months_lag12_8.0,active_months_lag12_9.0,active_months_lag12_10.0,active_months_lag12_11.0,active_months_lag12_12.0,active_months_lag12_nan,category_1_N,category_1_Y,category_1_nan,category_2_1.0,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_nan,category_4_N,category_4_Y,category_4_nan,has_last_month_transaction,has_last3_months_revenue
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,-0.40,9.666667,-2.25,18.666667,-2.32,13.916667,242,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,-0.72,1.750000,-0.74,1.291667,-0.57,1.687500,22,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,-82.13,260.000000,-82.13,260.000000,-82.13,260.000000,-1,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,1
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,0.00,1.666667,0.00,4.666667,0.00,3.833333,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,0.00,0.500000,0.00,0.361111,0.00,0.347222,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,0.00,1.000000,0.00,3.666667,0.00,3.833333,160,21,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,0.00,2.833333,0.00,4.833333,0.00,6.333333,60,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,0.00,1.000000,0.00,1.666667,0.00,1.500000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,0.00,115.000000,0.00,189.916667,0.00,197.000000,248,15,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,0.00,1.000000,0.00,1.000000,0.00,1.000000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,0.00,61851.333333,0.00,56077.500000,0.00,50215.555556,-1,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,0.00,61851.333333,0.00,56077.500000,0.00,50215.555556,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,0.00,61851.333333,0.00,56077.500000,0.00,50215.555556,88,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,0.00,1.000000,0.00,1.000000,0.00,1.000000,158,15,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,0.00,1.666667,0.00,1.666667,0.00,1.666667,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,0.00,1084.000000,0.00,3432.666667,0.00,5236.000000,-1,-1,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
16,M_ID_c929bb59af,9514,2,20,-0.057471,-0.057471,69667.00,1.000000,69667.00,1.000000,69667.00,1.000000,-1,20,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,1
17,M_ID_dd3ae3de10,30534,278,37,-0.057471,-0.057471,5180.00,4.000000,9830.00,4.166667,15826.00,5.600000,11,23,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1,1
18,M_ID_dc671140d0,21536,278,37,-0.057471,-0.057471,7133.00,4.666667,17566.00,4.500000,19594.00,6.000000,143,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1
19,M_ID_7551d55443,16010,298,10,-0.057471,-0.057471,109733.00,18.666667,118433.00,19.000000,217857.00,35.416667,282,18,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1
20,M_ID_a8effe9197,577,497,27,-0.057471,-0.057471,3897.00,1.333333,2924.00,1.250000,2924.00,1.250000,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
21,M_ID_39643c7d93,22146,309,21,-0.057471,-0.057471,608433.00,5.666667,776683.00,7.000000,749804.00,6.000000,-1,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
22,M_ID_07930b58ae,11559,705,33,-0.057471,-0.057471,148515.00,76.666667,245840.00,134.833333,272061.00,151.454545,123,19,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1
23,M_ID_e16b20b50a,35,511,7,-0.057471,-0.057471,385833.00,148.666667,464184.00,183.666667,460206.00,184.333333,126,4,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,1
24,M_ID_0f0334c393,39020,437,15,-0.057471,-0.057471,205863.00,3.333333,1513959.00,33.666667,2567408.00,61.166667,272,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
25,M_ID_2be211b847,35,456,21,-0.057471,-0.057471,1.00,1.000000,1.00,1.000000,1.00,1.000000,85,8,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,1
26,M_ID_0fa16b39ed,35,781,7,-0.057471,-0.057471,44436.00,11.333333,93735.00,17.500000,93735.00,17.500000,140,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
27,M_ID_69618a786a,4760,703,29,-0.057471,-0.057471,360107.00,20.666667,646764.00,37.333333,683700.00,39.818182,62,9,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
28,M_ID_3c87a47f6b,38953,703,29,-0.057471,-0.057471,624741.00,212.333333,953792.00,329.166667,827191.00,283.833333,60,16,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
29,M_ID_c44ccc8110,4274,278,37,-0.057471,-0.057471,133863.00,66.000000,133859.00,67.500000,133859.00,67.500000,143,5,1.000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334666,M_ID_82a30d9203,35,705,33,67.383709,66.957368,1.11,1.095744,1.19,1.140296,1.29,1.193303,69,9,1.006367,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334667,M_ID_076cd8a829,401,665,3,-0.057471,-0.057471,0.59,0.659296,0.52,0.531372,0.51,0.436002,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334668,M_ID_a0bec1c066,2897,840,20,0.953850,-0.057471,0.98,0.987463,0.99,1.009592,0.97,0.992651,-1,9,-16.597160,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334669,M_ID_79692349d6,3097,491,3,-0.057471,-0.057471,0.95,0.828665,0.88,0.724008,0.77,0.619400,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334670,M_ID_96ba3c7b60,35,690,1,-0.057471,-0.057471,0.98,1.002399,0.89,0.935795,0.78,0.850326,-1,-1,1.000000,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334671,M_ID_77e2942cd8,35,705,33,80.164020,79.678190,1.04,1.049935,1.07,1.073962,1.09,1.088270,-1,16,1.006097,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334672,M_ID_2637773dd2,35,683,34,105.585835,104.901707,1.08,1.090130,1.10,1.092221,1.13,1.117407,69,9,1.006522,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334673,M_ID_b5b80addf5,176,705,33,1.211637,-0.047556,0.99,0.998045,1.02,1.002170,1.45,1.047121,69,9,-25.478246,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334674,M_ID_c9a8f296ae,108130,561,7,-0.057471,-0.057471,0.73,0.979991,0.60,0.877106,0.50,0.677564,231,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334675,M_ID_d855771cd9,35,278,37,129.322116,128.548754,1.15,1.150464,1.26,1.226926,1.30,1.270607,-1,9,1.006016,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334676,M_ID_b1fc88154d,321,705,33,0.388700,-0.047556,1.00,1.066087,1.02,1.087142,0.95,1.095145,137,19,-8.173566,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,1,1
334677,M_ID_ed8064314e,840,437,15,0.011934,-0.057471,1.00,1.005015,1.03,1.027947,1.07,1.062081,69,9,-0.207648,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334678,M_ID_98b342c0e3,35,80,37,183.735111,182.079322,1.15,1.150389,1.25,1.226935,1.29,1.261291,-1,9,1.009094,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334679,M_ID_b98db225f5,35,705,33,107.648135,107.132560,1.11,1.107805,1.19,1.181937,1.26,1.233718,-1,9,1.004812,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,1,1
334680,M_ID_004995eae1,112528,705,33,0.130913,-0.057471,0.98,0.978401,1.03,0.998480,1.06,1.014429,158,15,-2.277902,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334681,M_ID_7159aca3bf,35,574,22,-0.057471,-0.057471,0.62,0.542203,0.33,0.278660,0.17,0.142010,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334682,M_ID_a62e20132d,112393,248,8,-0.057471,-0.057471,0.94,0.956257,0.86,0.908929,0.94,0.960127,69,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334683,M_ID_c1a7024db1,565,705,33,0.130913,-0.057471,1.00,1.014875,0.91,0.959783,0.97,0.986675,158,15,-2.277902,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334684,M_ID_981fe24744,771,690,1,1.231467,-0.057471,1.03,1.036908,1.05,1.080940,1.07,1.122159,69,9,-21.427753,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334685,M_ID_f86439cec0,35,278,37,117.830742,116.888826,1.08,1.092926,1.09,1.095924,1.13,1.125829,69,9,1.008058,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334686,M_ID_3111c6df35,107283,690,1,-0.057471,-0.057471,0.95,0.997999,0.90,0.967786,0.79,0.891154,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334687,M_ID_ca4d18b336,1145,437,15,0.170572,-0.057471,0.96,0.985340,0.95,0.986964,0.97,1.005476,69,9,-2.967987,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334688,M_ID_59764e8cb1,17285,309,21,0.329211,-0.057471,0.97,1.042942,1.00,1.107380,1.05,1.120891,-1,-1,-5.728326,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334689,M_ID_5ba019a379,35,80,37,172.719653,170.736672,1.07,1.089389,1.07,1.083591,1.11,1.110395,69,9,1.011614,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334690,M_ID_a9d91682ad,35,241,17,-0.057471,-0.057471,0.96,0.977410,0.85,0.919159,0.90,0.982781,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334691,M_ID_1f4773aa76,1145,705,33,3.174788,-0.047556,1.00,1.022618,0.99,1.019505,1.00,1.024796,69,9,-66.759291,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1
334692,M_ID_725a60d404,35,544,29,-0.057471,-0.057471,0.89,0.927684,0.78,0.813473,0.59,0.606765,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334693,M_ID_f2045dd267,35,561,7,-0.057471,-0.057471,0.96,0.982957,0.90,0.924769,0.74,0.750763,160,21,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,1
334694,M_ID_9139332ccc,35,511,7,-0.057471,-0.057471,0.94,0.919558,0.82,0.783000,0.65,0.584000,-1,-1,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1
334695,M_ID_cd2c0b07e9,35,606,17,-0.057471,-0.057471,0.90,0.913902,0.73,0.744417,0.53,0.540334,69,9,1.000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1